.advantages-home{
	padding: 15px 0 25px;
}
.advantages-box{
	margin: 0 -15px;
	.advantages-box__item{
		width: calc(100% / 6 - 30px);
		margin: 0 15px 30px;
	}
	.advantages-box__img{
		height: 40px;
		img{
			max-height: 100%;
		}
	}
	.advantages-box__info{
		padding: 7px 0 0;
	}
	.advantages-box__name{
		line-height: 100%;
	}
}

@media (max-width: 1300px){
	.advantages-box{
		margin: 0 -10px;
		.advantages-box__item{
			width: calc(100% / 6 - 20px);
			margin: 0 10px 20px;
		}
		.advantages-box__img{
			height: 33px;
		}
	}
}

@media (max-width: 1005px){
	.advantages-box{
		margin: 0 -10px;
		.advantages-box__item{
			width: calc(100% / 3 - 20px);
			margin: 0 10px 20px;
		}
		.advantages-box__img{
			height: 33px;
		}
	}
}

@media (max-width: 540px){
	.advantages-box{
		margin: 0 -10px;
		.advantages-box__item{
			width: calc(100% / 2 - 20px);
			margin: 0 10px 20px;
		}
		.advantages-box__img{
			height: 33px;
		}
	}
}