.calculation-home{
	padding: 60px 0 55px;
	.box-style{
		.box-style__header{}
		.box-style__heading{
			color: $colorWhite;
		}
	}
}

.calc-box{
	margin: 0 -15px;
	.calc-box__item{
		width: calc(100% / 3 - 30px);
		color: $colorCDCFD5;
		font-size: 18px;
		font-family: $fontRegular;
		font-weight: 400;
		line-height: 24px;
		margin: 0 15px 30px;
	}
	.calc-box__heading{
		color: $colorWhite;
		font-size: 18px;
		font-family: $fontMedium;
		font-weight: 500;
		line-height: 24px;
		margin: 0 0 20px;
	}
}

.calc-back{
	background: rgba($color212121, .15);
	border: 1px solid rgba($colorWhite, .15);
	@include border-radius(5px);
}

.calc-services{
	margin: 0 -10px;
	.calc-services__item{
		width: calc(100% / 2 - 20px);
		margin: 0 10px 20px;
		padding: 40px 10px 20px;
		@extend .calc-back;
		cursor: pointer;
		&.active{
			border-color: $colorOrange;
			.calc-services__icon{
				svg{
					path{
						fill: $colorWhite;
					}
				}
			}
			.calc-services__name{
				color: $colorWhite;
			}
		}
		&:hover{
			.calc-services__icon{
				@include transform(translateY(4px));
			}
			.calc-services__name{
				color: $colorWhite;
			}
		}
	}
	.calc-services__icon{
		width: 100%;
		height: 50px;
		@include transition(.2s);
		svg{
			width: 100%;
			height: 100%;
			path{
				fill: $colorWhite;
			}
		}
	}
	.calc-services__name{
		padding: 20px 0 0;
		@include transition(.2s);
	}
}

/* Выпадающий список городов */
.wrapper-dropdown{
	position: relative;
	margin: 0 0 20px;
	.wrapper-dropdown__header{
		@include flexbox();
		@include align-items(center);
		position: relative;
		width: 100%;
		height: 50px;
		padding: 5px 40px 5px 20px;
		cursor: pointer;
		@extend .calc-back;
		span, svg{
			pointer-events: none;
			white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
		svg{
			position: absolute;
			top: 0;
			right: 20px;
			width: 8px;
			height: 100%;
			path{
				fill: $colorWhite;
			}
		}
	}
	.wrapper-dropdown__body{
		position: absolute;
		z-index: 3;
		left: 0;
		top: calc(100% + 2px);
		width: 100%;
		opacity: 0;
		pointer-events: none;
		background: rgba(60, 61, 129, 1);
		border: 1px solid rgba($colorWhite, .15);
		@include border-radius(5px);
		@include transition(all .3s linear);
	}
	.wrapper-dropdown__content{
		overflow: hidden;
	    overflow-y: auto;
		scrollbar-color: ligthen(rgba($color212121, .1), 5) rgba($color212121, .2);
		scrollbar-width: thin;
		&::-webkit-scrollbar-track
		{
			-webkit-box-shadow: none;
			@include border-radius(0);
		    opacity: .1;
			background: rgba($color212121, .1);
		}
		&::-webkit-scrollbar
		{
			width: 6px;
			background-color: transparent;
		}
		&::-webkit-scrollbar-thumb
		{
			@include border-radius(0);
			-webkit-box-shadow: none;
			background-color: rgba($color212121, .2);
		}
	}
	&.active{
		.wrapper-dropdown__header{
			svg{
				@include transform(rotate(180deg));
			}
		}
		.wrapper-dropdown__body{
			height: auto;
			opacity: 1;
			pointer-events: all;
		}
		.wrapper-dropdown__content{
			max-height: 360px;
		}
	}
}
.calc-city-list{
	padding: 10px 0 15px;
	.calc-city-list__item{
		cursor: pointer;
		padding: 5px 20px;
		&.active{
			color: $colorOrange;
		}
		&:hover{
			color: $colorWhite;
		}
	}
}

/* Списов районов */
.city-district{
	margin: 0 -10px;
	.city-district__item{
		@include flexbox();
		@include align-items(center);
		width: calc(100% / 2 - 20px);
		margin: 0 10px 20px;
		@extend .calc-back;
		line-height: 1.0;
		min-height: 50px;
		padding: 5px 20px 8px;
		&.active{
			color: $colorWhite;
			border-color: $colorOrange;
		}
		&:hover{
			color: $colorWhite;
		}
	}
}

.calc-result{
	padding: 40px;
	background: $color00133C;
	@include border-radius(10px);
}
.calc-result-time{
	color: rgba($colorCDCFD5, .5);
	font-size: 16px;
	font-family: $fontRegular;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	padding: 30px 0 40px;
	span{
		color: $colorWhite;
		font-size: 80px;
		line-height: 100%;
		&.span_hr{
		    line-height: 88%;
		}
	}
	.calc-result-time__day{}
	.calc-result-time__minutes{}
}

@media (max-width: 1300px){
	.calculation-home{
		padding: 55px 0 45px;
	}
	.calc-box{
		margin: 0 -10px;
		.calc-box__item{
			width: calc(100% / 3 - 20px);
			font-size: 14px;
			line-height: 20px;
			margin: 0 10px 20px;
		}
		.calc-box__heading{
			font-size: 16px;
			line-height: 22px;
			margin: 0 0 15px;
		}
	}

	.calc-services{
		margin: 0 -6px;
		.calc-services__item{
			width: calc(100% / 2 - 12px);
			margin: 0 6px 12px;
			padding: 30px 10px 20px;
		}
		.calc-services__icon{
			height: 46px;
		}
		.calc-services__name{
			padding: 16px 0 0;
		}
	}

	/* Выпадающий список городов */
	.wrapper-dropdown{
		margin: 0 0 12px;
		.wrapper-dropdown__header{
			height: 45px;
			padding: 5px 40px 5px 20px;
			svg{
				right: 20px;
			}
		}
		&.active{
			.wrapper-dropdown__content{
				max-height: 320px;
			}
		}
	}
	.calc-city-list{
		.calc-city-list__item{
			padding: 4px 20px;
		}
	}

	/* Списов районов */
	.city-district{
		margin: 0 -6px;
		.city-district__item{
			width: calc(100% / 2 - 12px);
			margin: 0 6px 12px;
			min-height: 45px;
			padding: 4px 20px 7px;
		}
	}

	.calc-result{
		padding: 30px;
	}
	.calc-result-time{
		font-size: 14px;
		line-height: 20px;
		padding: 20px 0 30px;
		span{
			font-size: 70px;
			line-height: 100%;
			&.span_hr{
			    line-height: 88%;
			}
		}
	}
}

@media (max-width: 1005px){
	.calc-box{
		margin: 0;
		.calc-box__item{
			width: calc(100% / 1 - 0px);
			margin: 0 0 20px;
		}
		.calc-box__heading{
			font-size: 16px;
			line-height: 22px;
			margin: 0 0 15px;
		}
	}
}

@media (max-width: 480px){
	.calculation-home{
		margin: 30px 0 0;
	}
}