.carBrand-home{
	padding: 55px 0;
}
.carBrand-box{
	@include flexbox();
	@include flex-wrap(wrap);
	margin: 0 -13px;
	.carBrand-box__item{
		width: calc(100% / 7 - 26px);
		height: auto;
		margin: 0 13px 15px;
	}
	.carBrand-box__img{
		position: relative;
	    height: 100%;
		height: 86px;
		a{
			width: 100%;
			height: 100%;
		}
		picture{
			width: 100%;
			height: 100%;
		}
		img, source{
			margin: 0 auto;
			max-height: 100%;
		}
	}
	&.carBrand-page-box{
		.carBrand-box__item{
			margin: 0 13px 40px;
		}
	}
	&.carBrand-box-carousel{
		margin-bottom: 0 !important;
		.slick-track{
			@include flexbox();
			margin: 0;
			height: auto;
		}
		.carBrand-box__item{
			width: calc(100% / 1 - 26px);
		}
	}
}

@media (max-width: 1300px){
	.carBrand-home{
		padding: 55px 0;
	}
	.carBrand-box{
		.carBrand-box__item{
			width: calc(100% / 6 - 26px);
			margin: 0 13px 15px;
		}
	}
}

@media (max-width: 1005px){
	.carBrand-box{
		.carBrand-box__item{
			width: calc(100% / 5 - 26px);
			margin: 0 13px 15px;
		}
		.carBrand-box__img{
			height: 60px;
		}
	}
}

@media (max-width: 768px){
	.carBrand-box{
		.carBrand-box__item{
			width: calc(100% / 4 - 26px);
			margin: 0 13px 15px;
		}
	}
}

@media (max-width: 640px){
	.carBrand-home{
		padding: 55px 0 90px;
	}
	.carBrand-box{
		margin: 0 -10px;
		.carBrand-box__item{
			width: calc(100% / 3 - 20px);
			margin: 0 10px 10px;
		}
		.carBrand-box__img{
			// height: 50px;
		}
		&.carBrand-page-box{
			.carBrand-box__item{
				margin: 0 10px 30px;
			}
		}
		&.carBrand-box-carousel{
			.slick-slide{
				margin: 0 0 20px;		
			}
			.carBrand-box__item{
				width: calc(100% / 1 - 20px);
			}
		}
	}
}

@media (max-width: 480px){
	.carBrand-home{
		padding: 40px 0 70px;
		.box-style{
			.box-style__header{
				padding: 0 0 15px;
			}
		}
	}
	.carBrand-box{
		&.carBrand-box-carousel{
			.slick-slide{
				margin: 0 0 10px;		
			}
		}
	}
}