.content-home{
	overflow: hidden;
	@media (max-width: 640px){
		@include flexbox();
		@include flex-direction(column);
		.advantages-home{
			order: 2;
		}
		.theKeys-home{
			order: 1;
		}
		.services-home{
			order: 3;
		}
		.reviews-home{
			order: 4;
		}
		.whyUs-home{
			order: 5;
		}
		.calculation-home{
			order: 6;
		}
		.carBrand-home{
			order: 7;
		}
		.question-home{
			order: 8;
		}
	}
}
@import "_main-screen";
@import "_advantages-home";
@import "_theKeys-home";
@import "_services-home";
@import "_reviews-home";
@import "_whyUs-home";
@import "_calculation-home";
@import "_carBrand-home";
@import "_questions-home";
