.main-screen{
	padding: 70px 0 0;
	min-height: 590px;
	.main-screen__info{
		width: 690px;
		padding: 0 0 70px;
		h1{
			font-size: 60px;
			line-height: 100%;
			padding: 0;
			margin: 0 0 30px;
		}
		.icon-lock{
			margin: 0 0 0 20px;
		}
	}
	.main-screen__media{
		position: relative;
		width: calc(100% - 690px);
	}
	.main-screen__img{
		position: absolute;
		left: -150px;
		top: 0;
		picture{
		}
		source, img{
			max-width: 856px;
		}
	}
	.main-screen__desc{
		color: $color454545;
		font-size: 24px;
		font-family: $fontRegular;
		font-weight: 400;
		line-height: 28px;
		margin: 0 0 40px;
	}
	.main-screen__but{}
}

@media (max-width: 1300px){
	.main-screen{
		padding: 50px 0 0;
		min-height: 470px;
		.main-screen__info{
			width: 540px;
			padding: 0 0 50px;
			h1{
				font-size: 44px;
				line-height: 100%;
				padding: 0;
				margin: 0 0 22px;
			}
			.icon-lock{
				margin: 0 0 0 20px;
			}
		}
		.main-screen__media{
			width: calc(100% - 540px);
		}
		.main-screen__img{
			left: -150px;
			top: -40px;
			source, img{
				max-width: 695px;
			}
		}
		.main-screen__desc{
			font-size: 18px;
			line-height: 22px;
			margin: 0 0 30px;
		}
		.main-screen__but{}
	}
}

@media (max-width: 1005px){
	.main-screen{
		padding: 40px 0 0;
		min-height: 370px;
		.main-screen__info{
			width: 380px;
			padding: 0 0 40px;
			h1{
				font-size: 32px;
				line-height: 100%;
				padding: 0;
				margin: 0 0 18px;
			}
			.icon-lock{
				margin: 0 0 0 20px;
			}
		}
		.main-screen__media{
			width: calc(100% - 380px);
		}
		.main-screen__img{
			left: -90px;
			top: 0px;
			source, img{
				max-width: 500px;
			}
		}
		.main-screen__desc{
			font-size: 15px;
			line-height: 20px;
			margin: 0 0 25px;
		}
		.main-screen__but{}
	}
}

@media (max-width: 768px){
	.main-screen{
		padding: 35px 0 0;
		min-height: 370px;
		.main-screen__info{
			width: 360px;
			padding: 0 0 40px;
			h1{
				font-size: 30px;
				line-height: 100%;
				padding: 0;
				margin: 0 0 15px;
			}
			.icon-lock{
				margin: 0 0 0 10px;
			}
		}
		.main-screen__media{
			width: calc(100% - 360px);
		}
		.main-screen__img{
			left: -120px;
			top: 70px;
			source, img{
				max-width: 440px;
			}
		}
		.main-screen__desc{
			font-size: 14px;
			line-height: 19px;
			margin: 0 0 20px;
		}
		.main-screen__but{}
	}
}

@media (max-width: 640px){
	.main-screen{
		.main-screen__info{
			width: 330px;
			h1{
				font-size: 28px;
				line-height: 100%;
			}
		}
		.main-screen__media{
			width: calc(100% - 330px);
		}
	}
}

@media (max-width: 540px){
	.main-screen{
		min-height: auto;
		.main-screen__info{
			width: 100%;
			padding: 0 0 20px;
			h1{
				font-size: 28px;
				line-height: 100%;
			}
		}
		.main-screen__media{
			width: 100%;
		}
		.main-screen__img{
			position: relative;
			top: auto;
			left: auto;
			source, img{
				max-width: 440px;
			}
		}
	}
}

@media (max-width: 480px){
	.main-screen{
		.main-screen__img{
			source, img{
				max-width: 100%;
			}
		}
	}
}