.main-screen{
	padding: 60px 0 0;
	min-height: 550px;
	.main-screen__info{
		width: 670px;
		padding: 0 0 60px;
	}
	.main-screen__h1{
		font-size: 60px;
		line-height: 100%;
		padding: 0;
		margin: 0 0 30px;
	}
	.main-screen__lock{
		margin: 0 0 0 20px;
	}
	.main-screen__media{
		position: relative;
		width: calc(100% - 670px);
	}
	.main-screen__desc{
		color: $color454545;
		font-size: 24px;
		font-family: $fontRegular;
		font-weight: 400;
		line-height: 28px;
	}
	.main-screen__but{
		margin: 40px 0 0;
		.but-shadow{
			margin-right: 25px;
			&:last-child{
				margin-right: 0;
			}
		}
	}
	.main-screen__phone{
		&:after{
			content: '';
			display: inline-block;
			width: 18px;
			height: 18px;
			background: url('../images/icon/icon-phone-white.svg') no-repeat;
			@include background-size(contain !important);
			margin: 0 0 0 5px;
		}
	}
}

.main-screen-carousel{
	width: calc(100% + 70px);
	.main-screen-carousel__item{
		source, img{
			@include border-radius(8px);
		}
	}
}

@media (min-width: 769px){
	.hidden-sm{
		display: none !important;	
	}
}


@media (max-width: 1600px){
	.main-screen{
		padding: 30px 0 0;
		min-height: 420px;
		.main-screen__info{
			padding: 0 0 30px;
		}
		.main-screen__h1{
			font-size: 48px;
			line-height: 100%;
			padding: 0;
			margin: 0 0 20px;
		}
		.main-screen__lock{
			margin: 0 0 0 20px;
		}
		.main-screen__but{
			margin: 30px 0 0;
		}
	}
	.main-screen-carousel{
		width: calc(100% + 30px);
	}
	@media (min-width: 1001px){
		@media (max-height: 720px){
			.main-screen{
				padding: 20px 0 0;
				min-height: 370px;
				.main-screen__info{
					padding: 0 0 20px;
				}
				.main-screen__h1{
					font-size: 42px;
					line-height: 100%;
					padding: 0;
					margin: 0 0 20px;
				}
				.main-screen__lock{
					margin: 0 0 0 20px;
				}
				.main-screen__desc{
					font-size: 22px;
					line-height: 26px;
				}
				.main-screen__but{
					margin: 25px 0 0;
				}
			}
			.main-screen-carousel{
				width: calc(100% - 30px);
			}
		}
		@media (max-height: 650px){
			.main-screen{
				padding: 20px 0 0;
				min-height: 350px;
				.main-screen__info{
					padding: 0 0 20px;
				}
				.main-screen__h1{
					font-size: 40px;
					line-height: 100%;
					padding: 0;
					margin: 0 0 20px;
				}
				.main-screen__lock{
					margin: 0 0 0 20px;
				}
				.main-screen__desc{
					font-size: 20px;
					line-height: 24px;
				}
				.main-screen__but{
					margin: 25px 0 0;
				}
			}
			.main-screen-carousel{
				width: calc(100% - 50px);
			}
		}
	}
}

@media (max-width: 1300px){
	.main-screen{
		padding: 50px 0 0;
		min-height: 470px;
		.main-screen__info{
			width: 510px;
			padding: 0 0 50px;
		}
		.main-screen__h1{
			font-size: 44px;
			line-height: 100%;
			padding: 0;
			margin: 0 0 22px;
		}
		.main-screen__lock{
			margin: 0 0 0 20px;		
		}
		.main-screen__media{
			width: calc(100% - 510px);
		}
		.main-screen__img{
			left: -150px;
			top: -40px;
			source, img{
				max-width: 695px;
			}
		}
		.main-screen__desc{
			font-size: 18px;
			line-height: 22px;
		}
		.main-screen__but{
			margin: 30px 0 0;
		}
	}
}

@media (max-width: 1005px){
	.main-screen{
		padding: 40px 0 0;
		min-height: 370px;
		.main-screen__info{
			width: 370px;
			padding: 0 0 40px;
		}
		.main-screen__h1{
			font-size: 32px;
			line-height: 100%;
			padding: 0;
			margin: 0 0 18px;
		}
		.main-screen__lock{
			margin: 0 0 0 20px;
		}
		.main-screen__media{
			width: calc(100% - 370px);
		}
		.main-screen__img{
			left: -90px;
			top: 0px;
			source, img{
				max-width: 500px;
			}
		}
		.main-screen__desc{
			font-size: 15px;
			line-height: 20px;
		}
		.main-screen__but{
			margin: 25px 0 0;
		}
	}
}

@media (max-width: 768px){
	.main-screen{
		padding: 35px 0 0;
		min-height: 370px;
		.main-screen__info{
			width: 340px;
			padding: 0 0 40px;
		}
		.main-screen__h1{
			display: inline;
			font-size: 30px;
			line-height: 100%;
			margin: 0;
			padding: 0;
		}
		.main-screen__lock{
			display: none;
			margin: 0 0 0 10px;
		}
		.main-screen__media{
			width: calc(100% - 340px);
		}
		.main-screen__desc{
			display: inline;
			font-size: 30px;
			font-weight: 500;
			line-height: 100%;
			div, p{
				display: inline;
			}
		}
		.main-screen__but{
			margin: 20px 0 0;
		}
	}
}

/* @media (max-width: 640px){
	.main-screen{
		.main-screen__info{
			width: 330px;
			h1{
				font-size: 28px;
				line-height: 100%;
			}
		}
		.main-screen__media{
			width: calc(100% - 330px);
		}
	}
} */

@media (max-width: 640px){
	.main-screen{
		min-height: auto;
		.main-screen__info{
			width: 100%;
			padding: 0 0 20px;
		}
		.main-screen__h1{
			font-size: 28px;
			line-height: 100%;
		}
		.main-screen__media{
			width: 100%;
		}
	}
	.main-screen-carousel{
		width: calc(100% + 0px);
	}
}

@media (max-width: 480px){
	.main-screen{
	    padding: 15px 0 0;
		.main-screen__info{
			width: 100%;
			padding: 0 0 20px;
		}
		.main-screen__h1{
			display: inline;
			font-size: 24px;
			line-height: 100%;
		}
		.main-screen__desc{
			font-size: 24px;
			line-height: 100%;
		}
		.main-screen__but{
			margin: 12px 0 0;
			.but {
			    height: 32px;
			    font-size: 13px;
			    line-height: 12px;
			    padding: 0 15px;
			}
		}
	}
}

@media (max-width: 360px){
	.main-screen{
		.main-screen__info{
		}
		.main-screen__h1{
			font-size: 24px;
			line-height: 100%;
		}
		.main-screen__desc{
			font-size: 24px;
			line-height: 100%;
		}
	}
}