.question-home{
	padding: 50px 0 65px;
	.question-home__header{
		width: 612px;
		color: $colorWhite;
		font-size: 40px;
		font-family: $fontBold;
		font-weight: 700;
		line-height: 46px;
		padding: 0 40px 0 0;
	}
	.question-home__body{
		width: calc(100% - 612px);
	}
}

.question-contact{
	.question-contact__phone{
		color: $colorWhite;
		font-size: 40px;
		font-family: $fontBold;
		font-weight: 700;
		line-height: 40px;
		a{
			color: $colorWhite;
		}
	}
	.question-contact__email{
		color: $colorWhite;
		font-size: 20px;
		font-family: $fontRegular;
		font-weight: 400;
		line-height: 30px;
	}
	.question-contact__but{
		padding: 20px 0 0;
	}
	a{
		color: $colorWhite;
	}
}

@media (max-width: 1300px){
	.question-home{
		padding: 50px 0 55px;
		.question-home__header{
			width: 500px;
			font-size: 32px;
			line-height: 38px;
			padding: 0 40px 0 0;
		}
		.question-home__body{
			width: calc(100% - 500px);
		}
	}

	.question-contact{
		.question-contact__phone{
			font-size: 32px;
			line-height: 32px;
		}
		.question-contact__email{
			font-size: 18px;
			line-height: 28px;
		}
		.question-contact__but{
			padding: 15px 0 0;
		}
	}
}

@media (max-width: 1005px){
	.question-home{
		padding: 50px 0 55px;
		.question-home__header{
			width: 400px;
			font-size: 28px;
			line-height: 34px;
			padding: 0 40px 0 0;
		}
		.question-home__body{
			width: calc(100% - 400px);
		}
	}

	.question-contact{
		.question-contact__phone{
			font-size: 28px;
			line-height: 28px;
		}
		.question-contact__email{
			font-size: 16px;
			line-height: 26px;
		}
		.question-contact__but{
			padding: 15px 0 0;
		}
	}
}

@media (max-width: 768px){
	.question-home{
		padding: 50px 0 55px;
		.question-home__header{
			width: 360px;
			font-size: 24px;
			line-height: 32px;
			padding: 0 30px 0 0;
		}
		.question-home__body{
			width: calc(100% - 360px);
		}
	}

	.question-contact{
		.question-contact__phone{
			font-size: 24px;
			line-height: 24px;
		}
		.question-contact__email{
			font-size: 15px;
			line-height: 25px;
		}
		.question-contact__but{
			padding: 15px 0 0;
		}
	}
}

@media (max-width: 640px){
	.question-home{
		padding: 50px 0 55px;
		.question-home__header{
			width: 100%;
			padding: 0 0 20px;
		}
		.question-home__body{
			width: 100%;
		}
	}
}

@media (max-width: 480px){
	.question-home{
		.question-home__header{
			font-size: 22px;
			line-height: 30px;
		}
	}
	.question-contact{
		.question-contact__phone{
			font-size: 22px;
			line-height: 22px;
		}
	}
}