.reviews-home{
	padding: 70px 0;
	.reviews-home__header{
		width: 620px;
		padding: 0 100px 0 0;
	}
	.reviews-home__body{
		width: calc(100% - 620px);
	}
	.reviews-home__header{
		.box-style{
			.box-style__header{
				padding: 0 0 25px;
			}
		}
	}
	.reviews-home__desc{
		margin: 0 0 35px;
	}
}
.reviews-nav{
	position: relative;
	padding: 5px 0 40px;
	.reviews-nav__counter{
		width: calc(100% - 140px);
	}
	.reviews-nav__arrows{
		position: relative;
		width: 140px;
	}
}

.reviews-nav-counter{
	color: $color212121;
	font-size: 14px;
	font-family: $fontRegular;
	font-weight: 500;
	line-height: 18px;
	span{
		position: relative;
		display: inline-block;
		width: 185px;
		// padding: 0 180px 0 0;
		&:after{
			content: '';
			position: absolute;
			top: calc(50% - 0.5px);
			right: 20px;
			width: 130px;
			height: 1px;
			background: $colorDBDBDB;
		}
	}
}

.reviews-nav-arrows{
	position: relative;
	.slick-prev,
	.slick-next {
		position: relative;
		left: auto!important;
		right: auto!important;
	    top: auto;
	    @include transform(translate(0, 0));
    }
    .slick-prev {
    	margin: 0 20px 0 0;
	}
	.slick-next {
	}
}

.reviews-box{
	.reviews-box__header{
		padding: 0 0 10px;
	}
	.reviews-box__item{
		border-bottom: 1px solid $colorDBDBDB;
		padding: 0 0 40px;
		margin: 0 0 40px;
		&:last-child{
			border: none;
			// padding: 0;
		}
	}
	.reviews-box__img{
		width: 65px;
		height: 65px;
		img{
			@include border-radius(50%);
		}
	}
	.reviews-box__info{
		width: calc(100% - 65px);
		padding: 0 0 0 15px;
	}
	.reviews-box__name{
		div{
			padding: 0 0 5px;
		}
		span{
			color: $color212121;
			font-size: 24px;
			font-family: $fontMedium;
			font-weight: 500;
			line-height: 24px;
			text-transform: uppercase;
		}
		.but-link{
			display: inline-block;
			color: $colorOrange;
			font-size: 20px;
			font-family: $fontMedium;
			font-weight: 500;
			line-height: 24px;
			padding: 0 0 0 5px;
		}
	}
	.reviews-box__description{
		height: 145px;
		overflow: hidden;
		color: $color454545;
	    font-size: 16px;
    	line-height: 24px;
	}
	.reviews-box__more{
		position: relative;
		display: none;
	    padding: 5px 0 0;
		&:before{
			content: '';
			position: absolute;
			z-index: 1;
			left: 0;
			display: block;
			width: 100%;
			height: 30px;
			top: -20px;
			background: rgba($colorWhite, 0);
			background: -moz-linear-gradient(top, rgba($colorWhite, 0.4) 0%, rgba($colorWhite, 1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba($colorWhite, 0.4)), color-stop(100%, rgba($colorWhite, 1)));
			background: -webkit-linear-gradient(top, rgba($colorWhite, 0.4) 0%, rgba($colorWhite, 1) 100%);
			background: -o-linear-gradient(top, rgba($colorWhite, 0.4) 0%, rgba($colorWhite, 1) 100%);
			background: -ms-linear-gradient(top, rgba($colorWhite, 0.4) 0%, rgba($colorWhite, 1) 100%);
			background: linear-gradient(to bottom, rgba($colorWhite, 0.4) 0%, rgba($colorWhite, 1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5F5F5', endColorstr='#F5F5F5', GradientType=0 );
		}
	}
	.reviews-box__link{
		color: $color212121;
		border-bottom: 1px solid $color212121;
	}
	.review-box__play{
		margin: 12px 0 0;
	}
	&.reviews-box-modal{
		.reviews-box__description{
			height: auto !important;
			overflow: visible;
		}
		.reviews-box__more{
			display: none !important;
		}
	}
	&.reviews-page-box{
		padding: 30px 0 0;
		.reviews-box__description{
			height: auto !important;
			overflow: visible;
		}
		.reviews-box__more{
			display: none !important;
		}
	}
	&.reviews-box-carousel{
		.reviews-box__item{
			padding: 0;
			margin: 0;
			border-bottom: none;
		}
	}
}

.review-box-play{
	color: $color212121;
	font-family: $fontRegular;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	cursor: pointer;
	.review-box-play__icon{
		margin: 0 12px 0 0;
	}
	span{
		position: relative;
		&:after{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background: $color212121;
			@include transition(.1s);
		}
	}
	&.active{
		.review-audio-play{
			.icon-play{
				background-position: 0 -13px;
			}		
		}		
	}
	&:hover{
		color: $colorOrange;
		span{
			&:after{
				display: none;
			}
		}
	}
}
.review-audio-play{
	width: 41px;
	height: 41px;
	background: $colorOrange;
	@include border-radius(50%);
	.icon-play{
		display: inline-block;
		width: 15px;
		height: 13px;
		background: url('../images/icon/icon-play.svg') no-repeat;
	}
}

@media (max-width: 1300px){
	.reviews-home{
		padding: 55px 0;
		.reviews-home__header{
			width: 500px;
			padding: 0 80px 0 0;
		}
		.reviews-home__body{
			width: calc(100% - 500px);
		}
		.reviews-home__desc{
			margin: 0 0 30px;
		}
	}

	.reviews-nav{
		padding: 5px 0 30px;
		.reviews-nav__counter{
			width: calc(100% - 115px);
		}
		.reviews-nav__arrows{
			width: 115px;
		}
	}

	.reviews-nav-arrows{
	    .slick-prev {
	    	margin: 0 15px 0 0;
		}
	}

	.reviews-box{
		.reviews-box__header{
			padding: 0 0 10px;
		}
		.reviews-box__item{
			padding: 0 0 40px;
			margin: 0 0 40px;
		}
		.reviews-box__img{
			width: 52px;
			height: 52px;
		}
		.reviews-box__info{
			width: calc(100% - 52px);
			padding: 0 0 0 15px;
		}
		.reviews-box__name{
			padding: 0 0 5px;
			span{
				font-size: 18px;
				line-height: 18px;
			}
			.but-link{
				font-size: 15px;
				line-height: 18px;
			}
		}
		.reviews-box__description{
			height: 122px;
		    font-size: 14px;
	    	line-height: 20px;
		}
		.review-box__play{
			margin: 12px 0 0;
		}
	}

	.review-box-play{
		font-size: 16px;
		line-height: 20px;
		.review-box-play__icon{
			margin: 0 10px 0 0;
		}
		.review-box-play__text{
			padding: 0 0 3px;
		}
	}
}

@media (max-width: 1005px){
	.reviews-home{
		padding: 55px 0;
		.content{
			position: relative;
		}
		.reviews-home__header{
			width: 100%;
			padding: 0;
		}
		.reviews-home__body{
			width: 100%;
			padding: 0 0 100px;
		}
		.reviews-home__desc{
			margin: 0 0 25px;
		}
		.reviews-home__but{
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	.reviews-nav{
		padding: 5px 0 25px;
	}

	.reviews-box{
		.reviews-box__description{
			height: 82px;
		}
		.review-box__play{
			margin: 15px 0 0;
		}
	}

	.review-box-play{
		font-size: 15px;
		line-height: 18px;
		.review-box-play__text{
			padding: 0 0 5px;
		}
	}
}

@media (max-width: 640px){
	.reviews-home{
		.reviews-home__but{
			left: 20px;
		}
	}
	.reviews-nav{
		position: static;
		padding: 5px 0 30px;
		.reviews-nav__counter{
			width: 100%;
		}
		.reviews-nav__arrows{
			position: absolute;
			bottom: 0;
			right: 20px;
			width: 100px;
		}
	}

	.reviews-nav-arrows{
	    .slick-prev {
	    	margin: 0 10px 0 0;
		}
	}
}

@media (max-width: 480px){
	.reviews-home{
		.reviews-home__desc{
			br{
				display: none;
			}
		}
	}
	.reviews-nav{
		.reviews-nav__arrows{
			width: 94px;
		}
	}
}

@media (max-width: 360px){
	.reviews-home{
		.reviews-home__but{
			left: 15px;
		}
	}
	.reviews-nav{
		.reviews-nav__arrows{
			right: 15px;
		}
	}
}