.services-home{
	padding: 60px 0;
	background: $colorFCF6ED;
	.box-style{
		.box-style__header{
			padding: 0 0 20px;
		}
	}
	.carousel-arrow-t{
		.slick-prev,
		.slick-next {
		    top: -15px;
	    }
	}
	.services-home__but{
		padding: 10px 0 0;
	}
}
.services-box{
	margin: 0 -15px;
	.services-box__item{
		width: calc(100% / 3 - 30px);
		margin: 0 15px 30px;
		min-height: 290px;
		background: $colorWhite;
		@include box-shadow(0px 10px 30px rgba(166, 171, 189, 0.1));
		@include border-radius(8px);
		@include transition(.3s ease);
		&:hover, &:focus, &:active{
			@include box-shadow(0px 10px 30px rgba(166, 171, 189, 0.3));
			@include transform(translate(0, -2px));
			.services-box__name{
				color: $colorOrange;
				a{
					color: $colorOrange;
				}
				span{
					&:after{
						opacity: 1;
					}
				}
			}
		}
	}
	.services-box__info{
		width: 250px;
		padding: 20px 0 20px 20px;
	}
	.services-box__img{
		position: relative;
		width: calc(100% - 250px);
		overflow: hidden;
		source, img{
			max-width: 240px;
			min-height: 270px;
			max-height: 100%;
			max-height: 300px;
		}
	}
	.services-box__name{
		width: 100%;
		min-height: 80px;
		color: $color212121;
		font-size: 16px;
		font-family: $fontBold;
		font-weight: 700;
		line-height: 22px;
		text-transform: uppercase;
		padding: 0 0 15px;
		margin: 0 0 10px;
		border-bottom: 1px solid $colorDFE0EB;
		@include transition(.1s);
		a{
			color: $color212121;
		}
		span{
			position: relative;
			&:after{
				content: '';
				position: absolute;
				bottom: -2px;
				left: 0;
				width: 100%;
				height: 2px;
				opacity: 0;
				background: $colorOrange;
			}
		}
	}
	.services-box__desc{
	}
	.services-box__price{
		color: $color212121;
		font-size: 24px;
		font-family: $fontRegular;
		font-weight: 400;
		line-height: 24px;
		svg{
			path{
				fill: $color212121;
			}
		}
	}
	&.services-page{
		.services-box__item{
			@include box-shadow(0px 10px 30px rgba(166, 171, 189, 0.3));
		}
	}
	&.services-box-carousel{
		.slick-list{
			overflow: visible;
		}
		.slick-track{
			@include flexbox();
			// @include flex-wrap(wrap);
			height: auto;
		}
		.slick-slide{
			pointer-events: none;
			// @include flexbox();
			height: auto !important;
			opacity: 0;
			@include transition(.3s linear .2s);
			&.slick-active, &.slick-current{
				pointer-events: all;
				opacity: 1;
				@include transition(.3s linear .1s);
			}
		}
		.services-box__item{
			width: calc(100% - 30px);
			margin-top: 15px;
		}
	}
}

.carousel-arrow-t{
	.slick-prev,
	.slick-next {
	    top: -30px;
	    @include transform(translate(0, -100%));
    }
    .slick-prev {
	    left: auto;
	    right: 95px;
	}
	.slick-next {
	    right: 15px;
	}
	&.carousel-arrow-t-2{
		.slick-prev {
		    right: 80px;
		}
		.slick-next {
		    right: 0px;
		}
	}
}

@media (max-width: 1300px){
	.services-home{
		padding: 55px 0;
	}
	.services-box{
		margin: 0 -10px;
		.services-box__item{
			width: calc(100% / 2 - 20px);
			margin: 0 10px 20px;
			min-height: 250px;
		}

		.services-box__info{
			width: 270px;
			padding: 30px 0 30px 30px;
		}
		.services-box__img{
			width: calc(100% - 270px);
			source, img{
				max-width: 370px;
			}
		}
		.services-box__name{
			min-height: 78px;
			padding: 0 0 12px;
			margin: 0 0 10px;
		}
		.services-box__price{
			font-size: 20px;
			line-height: 20px;
			svg{
			    width: 11px;
    			height: 14px;
			}
		}
		&.services-box-carousel{
			.services-box__item{
				width: calc(100% - 20px);
				margin-top: 15px;
			}
		}
	}

	.carousel-arrow-t{
		.slick-prev,
		.slick-next {
		    top: -30px;
	    }
	    .slick-prev {
		    left: auto;
		    right: 75px;
		}
		.slick-next {
		    right: 10px;
		}
		&.carousel-arrow-t-2{
			.slick-prev {
			    right: 65px;
			}
			.slick-next {
			    right: 0px;
			}
		}
	}
}

@media (max-width: 1005px){
	.services-box{
		margin: 0 -10px;
		.services-box__item{
			width: calc(100% / 2 - 20px);
			margin: 0 10px 20px;
			min-height: 220px;
		}
		.services-box__info{
			width: 220px;
			padding: 20px 0 20px 20px;
		}
		.services-box__img{
			width: calc(100% - 220px);
			source, img{
				max-width: 320px;
			}
		}
		.services-box__name{
			min-height: 70px;
			font-size: 15px;
			line-height: 20px;
			padding: 0 0 12px;
			margin: 0 0 10px;
		}
		/* .services-box__price{
			font-size: 18px;
			line-height: 18px;
			svg{
		        width: 10px;
    			height: 12px;
			}
		} */
		&.services-box-carousel{
			.services-box__item{
				width: calc(100% - 20px);
				margin-top: 15px;
			}
		}
	}

	.carousel-arrow-t{
		.slick-prev,
		.slick-next {
		    top: -30px;
	    }
	    .slick-prev {
		    left: auto;
		    right: 65px;
		}
		.slick-next {
		    right: 10px;
		}
		&.carousel-arrow-t-2{
			.slick-prev {
			    right: 55px;
			}
			.slick-next {
			    right: 0px;
			}
		}
	}
}

@media (max-width: 768px){
	.services-box{
		margin: 0 -10px;
		.services-box__item{
			width: calc(100% / 2 - 20px);
			margin: 0 10px 20px;
			min-height: 220px;
		}
		.services-box__info{
			width: 220px;
			padding: 20px 0 20px 20px;
		}
		.services-box__img{
			width: calc(100% - 220px);
			source, img{
				max-width: 320px;
			}
		}
		.services-box__name{
			min-height: 70px;
			font-size: 15px;
			line-height: 20px;
			padding: 0 0 12px;
			margin: 0 0 10px;
		}
		.services-box__price{
			font-size: 18px;
			line-height: 18px;
		}
		&.services-page{
			margin: 0 -5px;
			.services-box__item{
				width: calc(100% / 2 - 10px);
				margin: 0 5px 20px;
			}
		}
		&.services-box-carousel{
			.services-box__item{
				width: calc(100% - 20px);
				margin-top: 15px;
			}
		}
	}
}

@media (max-width: 640px){
	.services-home{
		.content{
			position: relative;
		}
		.box-style{
			.box-style__header{
				padding: 0 0 20px;
			}
		}
		.carousel-arrow-t{
			.slick-prev,
			.slick-next {
				top: auto;
				bottom: -10px;
			}
		}
		.services-home__but{
			padding: 10px 115px 0 0;
			@include justify-content(flex-start);
		}
	}

	.services-box{
		&.services-page{
			margin: 0 -5px;
			.services-box__item{
				width: calc(100% / 1 - 10px);
				margin: 0 5px 20px;
				min-height: 220px;
				@include justify-content(space-between);
			}
			.services-box__info{
				width: 220px;
				padding: 20px 0 20px 20px;
			}
			.services-box__img{
				width: 220px;
				source, img{
					max-width: 320px;
				}
			}
		}
	}
	.carousel-arrow-t{
		.slick-prev,
		.slick-next {
		    top: auto;
		    bottom: 0px;
		    @include transform(translateY(100%));
	    }
	}
}

@media (max-width: 640px){
	.services-box{
		.services-box__img{
			width: calc(100% - 220px);
			source, img{
				max-width: 120px;
				min-height: auto;
			}
		}
		.services-box__name{
			font-size: 14px;
			line-height: 19px;
		}
		&.services-box-carousel{
			.services-box__item{
				width: 300px;
			}
		}
	}
}

@media (max-width: 480px){
	.services-home{
		.services-home__but{
			padding: 10px 100px 0 0;
		}
	}
	.services-box{
		&.services-page{
			margin: 0 -5px;
			.services-box__item{
				width: calc(100% / 1 - 10px);
				margin: 0 5px 20px;
				min-height: 220px;
			}
			.services-box__info{
				width: 220px;
			}
			.services-box__img{
				width: 120px;
				source, img{
					max-width: 160px;
				}
			}
		}
	}
	.carousel-arrow-t{
	    .slick-prev {
		    right: 62px;
		}
		.slick-next {
		    right: 10px;
		}
		&.carousel-arrow-t-2{
			.slick-prev {
			    right: 52px;
			}
			.slick-next {
			    right: 0px;
			}
		}
	}
}

@media (max-width: 360px){
	.services-box{
		&.services-page{
			margin: 0;
			.services-box__item{
				width: calc(100% / 1);
				margin: 0 0 20px;
				min-height: 220px;
			}
			.services-box__info{
				width: 220px;
			}
			.services-box__img{
				width: calc(100% - 220px);
				@include justify-content(flex-start);
				source, img{
					max-width: 140px;
				}
			}
		}
	}
}