.theKeys-home{
	padding: 30px 0 70px;
	overflow: hidden;
}

.theKeys-box{
	.theKeys-box__item{
		// min-width: 160px;
		margin: 0 10px;
		source, img{
			max-width: 160px;
			margin: auto;
		}
		&:hover{
			.theKeys-box__name{
				color: $colorOrange;
				svg{
					path{
						fill: $colorOrange;
					}
				}
			}
		}
	}
	.theKeys-box__name{
		padding: 10px 10px 0;
		color: $color212121;
		font-size: 20px;
		font-family: $fontRegular;
		font-weight: 400;
		line-height: 100%;
		text-align: center;
		white-space: nowrap;
		svg{
			width: 12px;
			height: 16px;
			path{
				fill: $color212121;
			}
		}
	}
}

@media (max-width: 1600px){
	.theKeys-home{
		padding: 10px 0 40px;
	}

	.theKeys-box{
		.theKeys-box__item{
			source, img{
				max-width: 140px;
			}
		}
		.theKeys-box__name{
			font-size: 18px;
			svg{
				width: 10px;
				height: 14px;
			}
		}
	}
	@media (min-width: 1001px){
		@media (max-height: 720px){
			.theKeys-box{
				.theKeys-box__item{
					source, img{
						max-width: 130px;
					}
				}
				.theKeys-box__name{
					font-size: 16px;
					svg{
						width: 9px;
						height: 12px;
					}
				}
			}
		}
		@media (max-height: 650px){
			.theKeys-box{
				.theKeys-box__item{
					source, img{
						max-width: 125px;
					}
				}
			}
		}
	}
}

@media (max-width: 1300px){
	.theKeys-home{
		padding: 20px 0 50px;
	}

	.theKeys-box{
		.theKeys-box__item{
			min-width: 130px;
			source, img{
				max-width: 130px;
			} 
		}
	}	
}

@media (max-width: 1005px){
	.theKeys-box{
		.theKeys-box__item{
			// min-width: 100px;
			source, img{
				max-width: 100px;
			}
		}
	}	
}

@media (max-width: 768px){
	.theKeys-box{
		.theKeys-box__item{
			// min-width: 90px;
		}
	}	
}

@media (max-width: 640px){
	.theKeys-home{
		padding: 20px 0;
	}
	.theKeys-box{
		.theKeys-box__item{
			// min-width: 70px;
		}
	}	
}

@media (max-width: 480px){
	.theKeys-box{
		.theKeys-box__item{
			// min-width: 60px;
			// min-width: 95px;
			source, img{
				max-width: 95px;
			}
		}
		.theKeys-box__name{
			font-size: 14px;
			svg{
				width: 8px;
				height: 11px;
			}
		}
	}	
}