.whyUs-home{
	padding: 30px 0 60px;
	.box-style{
		.box-style__header{
			width: calc(100% - 160px);
		}
		.box-style__heading{
			width: auto;
			line-height: 1.0;
		}
		.box-style__desc{
			width: auto;
			padding: 0 35px 0 0;
		}
	}
}

.whyUs-box-section{
	position: relative;
	padding: 0 0 15px;
	.whyUs-box-section__item{
		// width: 1640px;
		// margin: 0 -20px;
		// padding: 0 20px;
		// overflow: hidden;
	}
	.whyUs-box-section__arrows{
	}
}

.whyUs-box{
	margin: 0 -15px;
	.whyUs-box__item{
		width: calc(100% / 3 - 30px);
		width: 483px;
		margin: 0 15px 30px;
		min-height: 258px;
		background: $colorWhite;
		@include box-shadow(0px 10px 30px rgba(166, 171, 189, 0.3));
		@include border-radius(8px);
		@include transition(.3s ease);
		&:hover, &:focus, &:active{
			/* @include box-shadow(0px 10px 30px rgba(166, 171, 189, 0.3));
			@include transform(translate(0, -2px));
			.whyUs-box__name{
				color: $colorOrange;
				a{
					color: $colorOrange;
				}
				span{
					&:after{
						opacity: 1;
					}
				}
			} */
		}
	}
	.whyUs-box__info{
		width: 278px;
		padding: 30px 0 30px 30px;
	}
	.whyUs-box__img{
		position: relative;
		width: calc(100% - 278px);
		overflow: hidden;
		source, img{
			max-width: 370px;
			min-height: 258px;
			max-height: 100%;
			max-height: 300px;
		}
	}
	.whyUs-box__name{
		width: 100%;
		color: $color212121;
		font-size: 24px;
		font-family: $fontRegular;
		font-weight: 400;
		line-height: 110%;
		margin: 0 0 15px;
		@include transition(.1s);
		a{
			color: $color212121;
		}
		span{
			position: relative;
			&:after{
				content: '';
				position: absolute;
				bottom: -2px;
				left: 0;
				width: 100%;
				height: 2px;
				opacity: 0;
				background: $colorOrange;
			}
		}
	}
	.whyUs-box__desc{
	}
	&.whyUs-box-carousel{
		.slick-list{
			overflow: visible;
		}
		.slick-track{
			@include flexbox();
			height: auto;
		}
	}
}

@media (max-width: 1300px){
	.whyUs-home{
		padding: 30px 0 55px;
	}
	.whyUs-box{
		margin: 0 -10px;
		.whyUs-box__item{
			width: calc(100% / 3 - 20px);
			width: 470px;
			margin: 0 10px 20px;
			min-height: 258px;
		}
		.whyUs-box__info{
			width: 270px;
			padding: 25px 0 25px 25px;
		}
		.whyUs-box__img{
			width: calc(100% - 270px);
			source, img{
				max-width: 370px;
			}
		}
		.whyUs-box__name{
			font-size: 20px;
			line-height: 110%;
			margin: 0 0 15px;
		}
		&.whyUs-box-carousel{
			
		}
	}
}

@media (max-width: 1005px){
	.whyUs-box{
		margin: 0 -10px;
		.whyUs-box__item{
			width: calc(100% / 3 - 20px);
			width: 400px;
			margin: 0 10px 20px;
			min-height: 228px;
		}
		.whyUs-box__info{
			width: 220px;
			padding: 20px 0 20px 20px;
		}
		.whyUs-box__img{
			width: calc(100% - 220px);
			source, img{
				max-width: 320px;
			}
		}
		.whyUs-box__name{
			font-size: 18px;
			line-height: 110%;
			margin: 0 0 12px;
		}
		&.whyUs-box-carousel{
			
		}
	}
}

@media (max-width: 768px){
	.whyUs-home{
		.box-style{
			.box-style__header{
			}
			.box-style__heading{
				width: 100%;
			    padding: 0 0 25px !important;
			}
			.box-style__desc{
				width: 100%;
				padding: 0;
			}
		}
	}
}

@media (max-width: 640px){
	.whyUs-home{
		.content{
			position: relative;
		}
	}
}

@media (max-width: 480px){
	.whyUs-home{
		padding: 30px 0 25px;
		.box-style{
			.box-style__header{
				width: 100%;
			}
		}
	}
	.whyUs-box{
		margin: 0 -10px;
		.whyUs-box__item{
			position: relative;
			z-index: 1;
			width: calc(100% / 3 - 20px);
			width: 290px;
			margin: 0 10px 20px;
			min-height: 200px;
			overflow: hidden;
		}
		.whyUs-box__info{
			width: 220px;
			padding: 20px 0 20px 20px;
		}
		.whyUs-box__img{
			position: absolute;
			z-index: -1;
			top: 0;
			right: 0;
			width: 200px;
			&:after{
				content: '';
				position: absolute;
				z-index: 0;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba($colorWhite, .85);
			}
			source, img{
				position: relative;
				z-index: -1;
				max-width: 290px;
				min-height: auto;
				max-height: 100%;
			}
		}
	}
}