.header-top{
	height: 60px;
	@extend .back-gradient;
	.content{
		height: 100%;
	}
}

.header-contact{
	width: 100%;
	height: 100%;
	color: $colorWhite;
	font-size: 16px;
	font-family: $fontRegular;
	font-weight: 400;
	line-height: 100%;
	.header-contact__item{
		&.header-contact__mode{
			width: 205px;
			padding: 0 15px 0 0;
			@media (min-width: 481px){
				i{
					display: none;
				}
			}
			@media (max-width: 480px){
				span{
					display: none;
				}
			}
		}
		&.header-contact__city{
			width: 410px;
			padding: 0 20px 0 0;
		}
		&.header-contact__email{
			width: 205px;
			padding: 0 15px 0 0;
		}
		&.header-contact__phone{
			width: 247px;
		}
		&.header-contact__soc{
			width: 133px;
		}
	}
	.header-contact__heading{
		color: rgba($colorWhite, .75);
		font-size: 14px;
		line-height: 16px;
	}
	.header-contact__city{
	}
	.header-contact__geo{
		
	}
	.header-contact__email{
		a{
			color: $colorWhite;
			text-decoration-line: underline;
		}
	}
	.header-contact__phone{
		color: $colorWhite;
		font-size: 26px;
		font-family: $fontBold;
		font-weight: 700;
		line-height: 30px;
		white-space: nowrap;
		a{
			color: $colorWhite;
		}
	}
	.header-contact__soc{
		.soc-box{
			margin: 0 -5px 0 0;
		}
	}
}

.header-contact-geo{
	color: $colorWhite;
	font-size: 14px;
	font-family: $fontRegular;
	font-weight: 400;
	line-height: 16px;
	.header-contact-geo__city{
		font-size: 16px;
		line-height: 100%;
	}
	.header-contact-geo__address{
		padding: 2px 0 0;
	}
	a{
		display: block;
		color: $colorWhite;
	}
	i{
	    position: relative;
		top: 1px;
		margin: 0 0 0 5px;
	}
}

.soc-box{
	@include align-items(center);
	a{
		padding: 5px;
		@include transition(transform .3s ease);
		i{
			@include border-radius(50%);
		}
		&:hover{
			@include transform(translateY(-2px));
		}
	}
}

@media (max-width: 1300px){
	.header-contact{
		font-size: 15px;
		line-height: 100%;
		.header-contact__item{
			&.header-contact__mode{
				width: 125px;
				padding: 0 15px 0 0;
			}
			&.header-contact__city{
				width: 340px;
				padding: 0 15px 0 0;
			}
			&.header-contact__email{
				width: 190px;
				padding: 0 10px 0 0;
			}
			&.header-contact__phone{
				width: 195px;
			}
			&.header-contact__soc{
				width: 110px;
			}
		}
		.header-contact__heading{
			font-size: 14px;
			line-height: 16px;
		}
		.header-contact__city{
		}
		.header-contact__phone{
			font-size: 20px;
			line-height: 24px;
		}
		.header-contact__soc{
			.soc-box{
				margin: 0 -4px 0 0;
			}
		}
	}
	.header-contact-geo{
		font-size: 13px;
		line-height: 16px;
		.header-contact-geo__city{
			font-size: 15px;
			line-height: 100%;
		}
		.header-contact-geo__address{
			padding: 2px 0 0;
		}

	}
	.soc-box{
		a{
			padding: 3px;
		}
	}
}

@media (max-width: 1005px){
	.header-contact{
		font-size: 14px;
		line-height: 100%;
		.header-contact__item{
			&.header-contact__mode{
				width: 125px;
				padding: 0 15px 0 0;
			}
			&.header-contact__city{
				width: 295px;
				padding: 0 15px 0 0;
			}
			&.header-contact__email{
				display: none;
				width: 200px;
				padding: 0 15px 0 0;
			}
			&.header-contact__phone{
				width: 180px;
			}
			&.header-contact__soc{
				width: 100px;
			}
		}
		.header-contact__phone{
			font-size: 18px;
			line-height: 22px;
		}
		.header-contact__soc{
			.soc-box{
				margin: 0 -3px 0 0;
			}
		}
	}
	.header-contact-geo{
		line-height: 14px;
		.header-contact-geo__city{
			font-size: 14px;
			line-height: 100%;
		}
	}
	.soc-box{
		a{
			padding: 3px;
		}
	}
}

@media (max-width: 768px){
	.header-top{
		height: 42px;
		height: 55px;
		padding: 0 0 4px;
	}

	.header-contact{
		font-size: 14px;
		line-height: 100%;
		.header-contact__item{
			&.header-contact__mode{
				width: 260px;
				padding: 0 25px 0 0;
			}
			&.header-contact__city{
				width: calc(100% - 260px);
				padding: 0;
			}
			&.header-contact__phone, &.header-contact__soc{
				display: none;
			}
		}
	}
}

@media (max-width: 640px){
	.header-contact{
		.header-contact__item{
			&.header-contact__mode{
				width: 240px;
				width: 200px;
				padding: 0 25px 0 0;
			}
			&.header-contact__city{
				width: calc(100% - 240px);
				width: calc(100% - 200px);
				padding: 0;
			}
		}
	}
	.soc-box{
		a{
			padding: 3px;
		}
	}
}

@media (max-width: 480px){
	.header-top{
		height: auto;
		padding: 10px 0;
	}
	.header-contact{
		@include align-items(flex-start !important);
		.header-contact__item{
			&.header-contact__mode{
				order: 2;
				width: 27px;
				padding: 0;
				i{
				    width: 32px;
				    height: 34px;
				    margin-top: -4px;
				}
				br{
					display: none;
				}
			}
			&.header-contact__city{
				order: 1;
				width: calc(100% - 27px);
				padding: 0 15px 0 0;
			}
		}
		.header-contact__city{
			a{
				span{
					strong{
						// display: none;
					}
				}
			}
		}
	}
	.header-contact-geo{
		font-size: 12px;
		line-height: 14px;
		.header-contact-geo__city{
			font-size: 14px;
			line-height: 100%;
		}
		i{
			display: none;
			margin: 0 0 0 2px;
		}
	}
}

@media (max-width: 360px){
	.header-contact{
		.header-contact__item{
			&.header-contact__mode{
			}
			&.header-contact__city{
				padding: 0 20px 0 0;
			}
		}
	}
}