.header{
	padding: 10px 0;
	height: 96px;
	.content{
		height: 100%;
	}
	.header__logo{
		width: 177px;
	}
	.header__section{
		width: calc(100% - 177px);
		height: 100%;
		padding: 0 0 0 35px;
	}
}

@media (max-width: 1600px){
	@media (min-width: 1001px){
		@media (max-height: 720px){
			.header{
				padding: 9px 0;
				height: 84px;
				.header__logo{
					width: 145px;
				}
				.header__section{
					width: calc(100% - 145px);
					padding: 0 0 0 35px;
				}
			}
		}
	}
}

@media (max-width: 1300px){
	.header{
		padding: 9px 0;
		height: 78px;
		.header__logo{
			width: 145px;
		}
		.header__section{
			width: calc(100% - 145px);
			padding: 0 0 0 35px;
		}
	}	
}

@media (max-width: 1005px){
	.header{
		padding: 8px 0;
		height: 76px;
		.header__logo{
			width: 125px;
		}
		.header__section{
			width: calc(100% - 125px);
			padding: 0 0 0 20px;
			.menu{
				display: block;
			}
			.menu-fix-icon{
				display: none;
			}
		}
	}	
}

@media (max-width: 768px){
	.header{
		display: none;
		.header__logo{
			width: 140px;
		}
		.header__section{
			width: calc(100% - 140px);
			padding: 0 0 0 30px;
			.menu{
				display: none;
			}
			.menu-fix-icon{
				display: block;
			}
		}
	}	
}