.header-fix{
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: $colorWhite;
	opacity: 0;
	pointer-events: none;
	@include transform(translateY(-100%));
	@include transition(all .1s ease);
	@include box-shadow(0 3px 15px rgba($color212121, .1));
	&.fixed{
		opacity: 1;
		pointer-events: all;
		@include transform(translateY(0));
		@include transition(transform .3s ease);
	}
	.content{
		height: 100%;
	}
	.header-fix__logo{
		width: 140px;
		height: 100%;
		padding: 3px 0;
		a{
			height: 100%;
		}
		img{
			max-height: 100%;
		}
	}
	.header-fix__section{
		width: calc(100% - 140px);
		height: 100%;
		padding: 5px 0 5px 30px;
		.menu{
			ul{
				li{
					padding: 0px 20px 0 0;
					a{
						font-size: 17px;
						line-height: 21px;
					}
					& > ul{
						top: calc(100% - 4px);
						width: 270px;
						padding: 10px 0;
						li{
							width: 100%;
							padding: 5px 20px;
							a{
								font-size: 16px;
								line-height: 20px;
							}
						}
					}
				}
			}
			&.menu-btn-wrapper{
				& > ul{
					width: 100%;
				}
				.menu-btn-wrapper__btn{
					display: none;
				}
			}
		}
	}
}

.header-fix-contact{
	height: 100%;
	color: $color212121;
	font-size: 14px;
	font-family: $fontRegular;
	font-weight: 400;
	line-height: 100%;
	.header-fix-contact__item{
		&.header-fix-contact__phone{
			width: 185px;
		}
		&.header-fix-contact__soc{
			width: 133px;
		}
	}
	.header-fix-contact__email{
		a{
			color: $color212121;
			text-decoration-line: underline;
		}
	}
	.header-fix-contact__phone{
		color: $color212121;
		font-size: 18px;
		font-family: $fontBold;
		font-weight: 700;
		line-height: 26px;
		white-space: nowrap;
		a{
			color: $color212121;
		}
	}
	.header-fix-contact__soc{
		.soc-box{
			margin: 0 -5px 0 0;
		}
	}
}

@media (max-width: 1300px){
	.header-fix{
		height: 60px;
		.header-fix__logo{
			width: 115px;
			padding: 3px 0;
		}
		.header-fix__section{
			width: calc(100% - 115px);
			padding: 5px 0 5px 20px;
			.menu{
				ul{
					li{
						padding: 0px 15px 0 0;
						a{
							font-size: 14px;
							line-height: 19px;
						}
						& > ul{
							width: 220px;
							padding: 10px 0;
							li{
								width: 100%;
								padding: 4px 16px;
								a{
									font-size: 14px;
									line-height: 18px;
								}
							}
						}
					}
				}
			}
		}
	}
	.header-fix-contact{
		font-size: 14px;
		line-height: 100%;
		.header-fix-contact__item{
			&.header-fix-contact__phone{
				width: 145px;
			}
			&.header-fix-contact__soc{
				width: 100px;
			}
		}
		.header-fix-contact__phone{
			font-size: 15px;
			line-height: 24px;
		}
		.header-fix-contact__soc{
			.soc-box{
				margin: 0 -4px 0 0;
			}
		}
	}
}

@media (max-width: 1005px){
	.header-fix{
		.header-fix__logo{
			width: 125px;
			padding: 3px 0;
		}
		.header-fix__section{
			width: calc(100% - 125px);
			padding: 5px 0 5px 25px;
			@include justify-content(flex-end);
			.header-fix-contact{
				order: 1;
				padding: 0 10px 0 0;
			}
			.menu-fix-icon{
				@include justify-content(flex-end);
				order: 2;
			}
		}
	}
	.header-fix-contact{
		.header-fix-contact__item{
			&.header-fix-contact__phone{
				width: 165px;
			}
			&.header-fix-contact__soc{
				width: 105px;
			}
		}
		.header-fix-contact__phone{
			font-size: 16px;
			line-height: 24px;
		}
	}
}

@media (max-width: 768px){
	.header-fix{
		position: relative;
		width: 100%;
		height: 60px;
		top: auto;
		left: auto;
		background: $colorWhite;
		opacity: 1;
		pointer-events: all;
		@include transform(translateY(0));
		@include box-shadow(none);
		&.fixed{
			position: fixed;
			top: 0;
			left: 0;
			opacity: 1;
			pointer-events: all;
			@include transform(translateY(0));
			@include transition(transform .3s ease);
			@include box-shadow(0 3px 15px rgba($color212121, .1));
		}	
	}	
}

@media (max-width: 640px){
	.header-fix{
		.header-fix__section{
			.header-fix-contact{
				padding: 0;
			}
			.menu-fix-icon{
				width: 50px;
			}
		}
	}

	.header-fix-contact{
		.header-fix-contact__item{
			&.header-fix-contact__phone{
				width: 155px;
			}
			&.header-fix-contact__soc{
				width: 92px;
			}
		}
		.header-fix-contact__phone{
			font-size: 16px;
			line-height: 22px;
		}
		.header-fix-contact__soc{
			.soc-box{
				margin: 0 -3px 0 0;
			}
		}
	}
}

@media (max-width: 510px){
	.header-fix{
		height: 62px;
		.content{
			@include align-items(flex-end);
		}
		.header-fix__logo{
			width: 125px;
			padding: 3px 0;
		}
		.header-fix__section{
			position: relative;
			width: calc(100% - 125px);
			padding: 5px 0 5px 25px;
			height: 40px;
			@include align-items(flex-end);
			.header-fix-contact{
				padding: 0;
			}
			.menu-fix-icon{
				width: 45px;
			}
		}
	}
	.header-fix-contact{
		.header-fix-contact__item{
			&.header-fix-contact__phone{
				position: absolute;
				top: 5px;
				right: 0;
				width: 155px;
			    text-align: right;
			    @include transform(translateY(-100%));
			}
			&.header-fix-contact__soc{
				width: 92px;
			}
		}
		.header-fix-contact__phone{
			font-size: 16px;
			line-height: 22px;
		}
		.header-fix-contact__soc{
			.soc-box{
				margin: 0 -3px 0 0;
			}
		}
	}
}

@media (max-width: 480px){
	.header-fix-contact{
		.header-fix-contact__item{
			&.header-fix-contact__phone{
				a{
					position: relative;
					&:before{
						content: '';
						position: absolute;
						display: block;
						top: 0;
						left: -23px;
						width: 20px;
						height: 20px;
						background: url('../images/icon/icon-phone.svg') no-repeat;
						@include background-size(contain !important);
						display: none;
					}
				}
			}
		}
	}
}