/* Меню */
.menu{
	width: 100%;
	height: 100%;
	ul{
		@include flexbox();
		// @include justify-content(space-between);
		@include align-items(center);
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		list-style-type: none;
		li{
			position: relative;
			@include flexbox();
			@include align-items(center);
			height: 100%;
			padding: 0px 50px 0 0;
			@include transition(all .3s linear);
			a{
				position: relative;
				color: $color212121;
				font-size: 20px;
				font-weight: 400;
				line-height: 23px;
				@include transition(all .3s linear);
			}
			&.submenuItem{
				 & > a{
					&:after{
						position: relative;
						top: 2px;
						content: "\f107";
						display: inline-block;
					    font: normal normal normal 14px/1 FontAwesome;
					    font-size: inherit;
					    text-rendering: auto;
					    -webkit-font-smoothing: antialiased;
					    -moz-osx-font-smoothing: grayscale;
					    margin: 0 0 0 5px;
					}
				}
			}
			& > ul{
				display: none;
				position: absolute;
				z-index: 10;
				top: calc(100% - 10px);
				left: 0;
				width: 340px;
				height: auto;
				margin: 0;
				padding: 10px 0;
				background: $colorWhite;
				@include box-shadow(0px 10px 30px rgba(166, 171, 189, 0.7));
				@include border-radius(10px);
				li{
					width: 100%;
					min-height: 45px;
					padding: 5px 20px;
					a{
						font-size: 18px;
						line-height: 21px;
					}
					&.active, &:hover{
						background: $colorDBDBDB;
						& > a{
							color: $colorOrange;
						}
					}
				}
				&:after {
				    content: ''; 
				    position: absolute;
				    left: 20px; top: -20px;
				    border: 10px solid transparent;
				    border-bottom: 10px solid $colorWhite;
			   	}
			}
			&.active, &:hover{
				& > a{
					color: $colorOrange;
				}
			}
			&:hover{
				& > ul{
					display: block;
				}
			}
		}
	}
	&.menu-btn-wrapper{
		@include flexbox();
		@include align-items(center);
		& > ul{
			width: calc(100% - 160px);
			& > li{
				padding: 0 25px 0 0;
			}
		}
		.menu-btn-wrapper__btn{
			width: 160px;
			.but{
				padding: 0 25px;
			    font-size: 18px;
			    height: 48px;
			}
		}
	}
}

@media (max-width: 1300px){
	.menu{
		ul{
			li{
				padding: 0px 30px 0 0;
				a{
					font-size: 17px;
					line-height: 21px;
				}
				& > ul{
					width: 270px;
					padding: 10px 0;
					li{
						width: 100%;
						padding: 4px 16px;
						a{
							font-size: 16px;
							line-height: 20px;
						}
					}
				}
			}
		}
		&.menu-btn-wrapper{
			& > ul{
				width: calc(100% - 120px);
				& > li{
					padding: 0 15px 0 0;
					& > a{
						font-size: 16px;
						line-height: 20px;
					}
				}
			}
			.menu-btn-wrapper__btn{
				width: 120px;
				.but{
					padding: 0 17px;
				    font-size: 14px;
				    height: 40px;
				}
			}
		}
	}
}

@media (max-width: 1005px){
	.menu{
		display: none;
		ul{
			li{
				padding: 0px 13px 0 0;
				a{
					font-size: 14px;
					line-height: 18px;
				}
				& > ul{
					width: 240px;
					padding: 10px 0;
					li{
						width: 100%;
						padding: 4px 16px;
						a{
							font-size: 14px;
							line-height: 18px;
						}
					}
				}
			}
		}
		&.menu-btn-wrapper{
			display: none;
			& > ul{
				width: 100%;
				& > li{
					padding: 0 13px 0 0;
					& > a{
						font-size: 14px;
					line-height: 18px;
					}
				}
			}
			.menu-btn-wrapper__btn{
				display: none;
			}
		}
	}
}

@media (max-width: 768px){
	.menu{
		display: none;
	}
}
