.menu-fix{
	display: none;
}
@media (min-width: 1001px){
	.menu-fix-icon{
		display: none;
	}
}
@media (max-width: 1005px){
	.menu-fix-icon{
	    width: 60px;
	    height: 100%;
	    padding: 0;
		.icon-bars{
			width: auto;
			.icon-bars__item{
				width: 30px;
				height: 3px;
				background: $color212121;
				margin: 0px auto 5px;
				@include transition(all 0.3s linear);
				@include border-radius(8px);
				&:last-child{
					margin: 0 auto;
				}
			}
		}
		&:hover{
			cursor: pointer;
			.icon-bars{
				.icon-bars__item{
					background: $colorOrange
				}
			}
		}
	}
	/* Меню */
	html.htmlmenu{
		overflow: hidden !important;
	}
	body.bodymenu{
		overflow: hidden !important;
	}
}

@media (max-width: 510px){
	.menu-fix-icon{
	    width: 45px;
		.icon-bars{
			.icon-bars__item{
				width: 26px;
				height: 3px;
			}
		}
	}
}