$colorWhite: #FFFFFF;
$colorBlue: #0040C8;
$colorOrange: #EC4700;
$color894555: #894555;
$color212121: #212121;
$color454545: #454545;
$color757575: #757575;
$colorFCF6ED: #FCF6ED;
$colorCDCFD5: #CDCFD5;
$colorDFE0EB: #DFE0EB;
$colorDBDBDB: #DBDBDB;
$color00133C: #00133C;

$colorByu: #EC4700;

$fontFamily: 'Roboto', sans-serif;

$fontRegular: $fontFamily;
$fontMedium: $fontFamily;
$fontBold: $fontFamily;

// @include fontface("FuturaPT-Heavy", "FuturaPT-Heavy");