#citymodal{
	.modal-dialog{
		width: 1100px;
	}
	.modal-header{
		padding: 15px 40px;
		.modal-close{
		 	position: absolute;
		 	top: 20px;
		 	right: 20px;
		 	width: 20px;
			height: 20px;
			cursor: pointer;
			opacity: 1;
		    z-index: 1051;
	        -webkit-appearance: listbox;
			div {
				position: relative;
				width: 100%;
				height: 1px;
				background: rgba(17, 17, 17, 0.7);
				@include transition(all .4s ease);
				@include transform(rotate(135deg));
				top: 10px;
				&:before {
					content: '';
					position: absolute;
					z-index: 1;
					left: 0;
					width: 100%;
					height: 1px;
					background: rgba(17, 17, 17, 0.7);
					@include transition(all .4s ease);
					top: 0;
        			@include transform(rotate(90deg));
				}
			}
			&:hover{
				div{
					background: rgba(17, 17, 17, 1);
					@include transform(rotate(225deg));
					&:before {
						background: rgba(17, 17, 17, 1);
					}
				}
			}
		 }
		.close {
			color: #000;
			&:hover, &:focus, &:active{
				outline: 0;
			}
		}
		&.box-style{
			.box-style__header{
				padding: 10px 0 0;
			}
			.box-style__heading{
				font-size: 24px;
			    font-family: ElektraTextPro;
			}
		}
	}
	.modal-body{
		padding: 15px 40px 30px;
		.city-list{
			margin: 0;
			padding: 0;
			list-style-type: none;
			li{
				display: inline-block;
				vertical-align: top;
				width: calc(33% - 4px);
				padding: 15px 30px 15px 0;
				a{
			    	color: $color212121;
					font-size: 18px;
		    		font-family: $fontRegular;
	    			font-weight: normal;
		    		&:hover{
		    			color: $colorOrange;
		    			text-decoration: none;
		    		}
				}
				&:hover, &.active{
					a{
						color: $colorOrange;
					}
				}
			}
		}
	}
}

@media (max-width: 1240px){
	#citymodal{
		.modal-dialog{
			width: 940px;
		}
		.modal-body{
			padding: 15px 35px 30px;
			.city-list{
				li{
					width: calc(33% - 4px);
					padding: 15px 30px 15px 0;
					a{
						font-size: 16px;
					}
				}
			}
		}
	}
}

@media (max-width: 1000px){
	#citymodal{
		.modal-dialog{
			width: 95%;
		}
		.modal-body{
			padding: 15px 35px 30px;
			.city-list{
				li{
					width: calc(33% - 4px);
					padding: 10px 30px 10px 0;
					a{
						font-size: 15px;
					}
				}
			}
		}
	}
}

@media (max-width: 768px){
	#citymodal{
		.modal-dialog{
			width: auto;
		}
		.modal-body{
			padding: 15px 30px 30px;
			.city-list{
				li{
					width: calc(50% - 4px);
					padding: 10px 15px;
					a{
						font-size: 15px;
					}
				}
			}
		}
	}
}

@media (max-width: 640px){
	#citymodal{
		.modal-header{
			padding: 15px 20px;
			&.box-style{
				.box-style__heading{
					font-size: 22px;
				}
			}
		}
		.modal-body{
			padding: 15px 20px 30px;
			.city-list{
				li{
					padding: 8px 15px;
					a{
						font-size: 14px;
					}
				}
			}
		}
	}
}

@media (max-width: 400px){
	#citymodal{
		.modal-body{
			padding: 15px 20px 20px;
			.city-list{
				li{
					padding: 8px 15px 8px 0;
					// display: block;
					// width: 100%;
				}
			}
		}
	}
}

@media (max-width: 360px){
	#citymodal{
		.modal-dialog{
			margin: 2px;
		}
		.modal-body{
			padding: 15px 10px 20px;
			.city-list{
				li{
					padding: 8px 10px 8px 5px;
					// display: block;
					// width: 100%;
				}
			}
		}
	}
}