.city-interface{
	.poll{
		position: absolute;
		z-index: 100;
		top: 47px;
	    width: 190px;
		text-align: center;
		margin: 10px 0px 0px;
		.poll-box{
			position: relative;
			z-index: 3;
			padding: 8px 15px;
			background: $colorWhite;
			@include box-shadow(0 3px 10px rgba(0, 0, 0, .3));
			@include border-radius(4px);
			button{
			    color: $colorWhite;
		        font-size: 15px;
		        font-family: $fontRegular;
		        font-weight: normal;
			    border: none;
			    background: $colorOrange;
			    // @extend .back-gradient;
			    padding: 2px 15px;
			    margin: 5px;
			    outline: 0;
			    @include box-shadow(none);
			    &:hover, &:focus, &:active{
			    	background: darken($colorOrange, 10%);
			    }
			}
		}
		.poll-text{
			color: $color212121;
			font-size: 16px;
	    	font-family: $fontMedium;
	    	font-weight: 500;
	    	padding: 5px 0 3px;
		}
		&:after, &:before {
		    content: '';
		    position: absolute;
		    background: $colorWhite;
		    left: 20px; 
		    top: -5px;
		    width: 20px; 
		    height: 20px;
		    z-index: -1; /* Прячем за основным блоком */
		    transform: rotate(45deg); /* Поворачиваем на 45º */
		    -webkit-transform: rotate(45deg);
		    // @include box-shadow(0 5px 10px rgba(0, 0, 0, .3));
	   	}
	   	&:before {
	    	z-index: 2; /* Накладываем поверх, чтобы скрыть следы тени */
	    	box-shadow: none; /* Прячем тень */
	   	}
	}
}

@media (max-width: 768px){
	.city-interface{
		.poll{
			top: 30px;
			top: 38px;
		}
	}
}

@media (max-width: 480px){
	.city-interface{
		.poll{
			top: 38px;
		}
	}
}
