.content{
	width: 1200px;
	margin: 0 auto;
	@media (max-width: 1300px){
		width: 960px;
	}
	@media (max-width: 1005px){
		width: 700px;
	}
	@media (max-width: 768px){
		width: 600px;
	}
	@media (max-width: 640px){
		width: 100%;
		padding: 0 20px;
	}
	@media (max-width: 360px){
		padding: 0 15px;
	}
}

h1{
	color: $color212121;
	font-size: 40px;
	font-family: $fontMedium;
	font-weight: 500;
	line-height: 100%;
	margin: 0;
	padding: 0 0 40px;
}

h2{
	color: $color212121;
	font-size: 36px;
	font-family: $fontMedium;
	font-weight: 500;
	line-height: 100%;
	margin: 0;
	padding: 0 0 25px;
}

.box-style{
	.box-style__header{
		padding: 0 0 35px;
	}
	.box-style__heading{
		@extend h1;
		padding: 0 !important;
	}
	&.box-style-but{
		.box-style__heading{
			width: calc(100% - 201px);
			padding-right: 35px !important;
		}
		.box-style__but{
			width: 201px;
			.but{
				@include inline-flex();
				@include justify-content(flex-end);
				margin: 0 0 0 auto;
			}
		}
	}
}

.box-style-img{
	position: relative;
	overflow: hidden;
	source, img, video{
	    position: absolute;
	    z-index: 0;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    -o-object-fit: cover;
	    object-fit: cover;
	    @include transition(transform .2s);
	}
}

.box-animation{
	@include transition(all .3s linear);
}

.t-stl{
	color: $color757575;
	font-size: 16px;
	font-family: $fontRegular;
	font-weight: 400;
	line-height: 18px;
}

.txt-style{
	color: #6F6F6F;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
}

.color-orange{
	color: $colorOrange !important;
}

.back-gradient{
	@include background-gradient('left', $colorBlue, $colorOrange, 0%, 100%);
}
.back-gradient-hover{
	@include background-gradient('left', $colorOrange, $colorBlue, 0%, 100%);
}
.bck-stl{
	@include background-gradient('left', $colorBlue, $color894555, 0%, 100%);
}

@media (max-width: 1300px){
	h1{
		font-size: 32px;
		line-height: 100%;
		padding: 0 0 30px;
	}

	h2{
		font-size: 30px;
		line-height: 100%;
		padding: 0 0 20px;
	}

	.box-style{
		.box-style__header{
			padding: 0 0 30px;
		}
		.box-style__heading{
			padding: 0 !important;
		}
		&.box-style-but{
			.box-style__heading{
				width: calc(100% - 201px);
				padding-right: 35px !important;
			}
			.box-style__but{
				width: 201px;
			}
		}
	}

	.t-stl{
		font-size: 14px;
		line-height: 18px;
	}
}

@media (max-width: 1005px){
	h1{
		font-size: 30px;
		line-height: 100%;
		padding: 0 0 25px;
	}

	h2{
		font-size: 28px;
		line-height: 100%;
		padding: 0 0 15px;
	}

	.box-style{
		.box-style__header{
			padding: 0 0 25px;
		}
		&.box-style-but{
			.box-style__heading{
				width: calc(100% - 181px);
				padding-right: 25px !important;
			}
			.box-style__but{
				width: 181px;
			}
		}
	}
}

@media (max-width: 640px){
	h1{
		font-size: 28px;
		line-height: 100%;
		padding: 0 0 25px;
	}

	h2{
		font-size: 26px;
		line-height: 100%;
		padding: 0 0 15px;
	}
}

@media (max-width: 480px){
	h1{
		font-size: 26px;
		line-height: 100%;
		padding: 0 0 25px;
	}

	h2{
		font-size: 24px;
		line-height: 100%;
		padding: 0 0 15px;
	}
}