.but{
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	width: auto;
	height: 60px;
	color: $colorWhite;
	font-size: 18px;
	font-family: $fontRegular;
	font-weight: 400;
	line-height: 1.0;
	padding: 0 25px;
	border: none;
	@extend .back-gradient;
	@include box-shadow(none);
	@include border-radius(50px);
	@include transition(all .3s ease);
	&.but-white{
		color: $color212121;
		background: $colorWhite;
	}
	&.but-orange{
		color: $colorWhite;
		background: $colorOrange;
	}
	&.but-buy{
		font-size: 20px;
		height: 65px;
		padding: 0 40px;
		color: $colorWhite;
		background: $colorByu;
	}
	&.but-border{
		background: transparent;
		border: 1px solid #E9EAF3;
		&.but-svg{
			svg{
				path{
					fill: #000;
				}
			}
		}
		&.but-border-white{
			color: #fff;
			border-color: #fff;
			svg{
				path{
					fill: #fff;
				}
			}
		}
	}
	&.but-svg{
		-webkit-appearance: listbox;
		@include transform(perspective(1px) translateZ(0));
		@include transition-duration(0.1s);
		&.but-svg-right{
			padding-right: 20px;
			span{
				padding: 0 15px 0 0;
			}	
		}
		&.but-svg-left{
			span{
				padding: 0 0 0 15px;
			}	
		}
		svg{
			width: 17px;
			height: 12px;
			@include transform(translateZ(0));
			@include transition(transform 0.2s ease-out);
			path{
				fill: #fff;
			}
		}
	}
	&.but-animation{
		overflow: hidden;
	    @include transform(matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));
		&:before, 
		&:after {    
		    content: "";
			position: absolute;
			z-index: -1;
			width: 100%;
		    height: 100%;
		    left: -110%;
		    top: 0;
			opacity: 0.1;
			background: rgba(0, 0, 0, 0.6);    
		    @include transform(skewX(25deg));   
			@include transition(.5s ease);
			pointer-events: none;
		}
	}
	&.but-animate-transform{
		@include transition(transform 0.2s ease-out);
	}
	&.bt-animation2{
		position: relative;
		overflow: hidden;
		@include animation(scaleAnimate 3s ease-in-out infinite);
		&:before {
		    margin-left: 60px;
		    content: "";
		    width: 30px;
		    height: 300px;
		    background: rgba(255, 255, 255, 1);
		    animation-delay: 0.05s;
		    position: absolute;
		    left: -40px;
		    top: -150px;
		    opacity: 0.9;
		    @include animation(radiance 3s ease-in-out infinite);
		    @include transition(all 300ms);
		    @include transform(rotate(45deg));
		}
	}
	&.bt-animation{
		overflow: hidden;
	    @include transform(matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));
		&:before, 
		&:after {    
		    content: "";
			position: absolute;
			z-index: -1;
			width: 100%;
		    height: 100%;
		    left: -110%;
		    top: 0;
			opacity: 0.1;
			background: rgba(0, 0, 0, 0.6);    
		    @include transform(skewX(25deg));   
			@include transition(.5s ease);
			pointer-events: none;
		}
	}
	&:hover, &:focus, &:active{
		border: none;
		outline: 0;
		color: $colorWhite;
		// @extend .back-gradient-hover;
		@include box-shadow(none);
		&.but-white{
			color: $color212121;
			background: $colorWhite;
		}
		&.but-orange{
			color: $colorWhite;
			background: darken($colorOrange, 10%);
		}
		&.but-border{
			background: #E9EAF3;
			border: 1px solid #E9EAF3;
			&.but-svg{
				svg{
					path{
						fill: #000;
					}
				}
			}
			&.but-border-white{
				color: #000;
				background: #fff;
				border-color: #fff;
				svg{
					path{
						fill: #000;
					}
				}
			}
		}
		&.but-svg{
			&.but-svg-right{
				svg{
					@include transform(translateX(-3px));
				}
			}
			&.but-svg-left{
				svg{
					@include transform(translateX(3px));
				}
			}
		}
		&.but-animation{
			&:before {
			    left: -10%;
			    @include transition(.3s ease);
			}
			&:hover:after {
			    left: -20%;
			}
		}
		&.bt-animate-3d{
			@include transform(scaleX(0.95) translateY(2px));
		}
		&.but-animate-transform{
			@include transform(translateY(-2px));
			@include box-shadow(0 3px 15px rgba(0, 0, 0, 0.15));
		}
		&.bt-animation{
			&:before {
			    left: -10%;
			    @include transition(.3s ease);
			}
			&:hover:after {
			    left: -20%;
			}
		}
	}
}

.but-shadow{
	position: relative;
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	width: auto;
	z-index: 1;
	&:after{
		content: '';
		position: absolute;
		z-index: -1;
		left: 20px;
		bottom: 3px;
		width: calc(100% - 40px);
		height: calc(100% - 20px);
		@include box-shadow(0px 10px 15px rgba(1, 0, 54, 0.25));
		@include border-radius(50px);
	}
}

@media (max-width: 1300px){
	.but{
		height: 55px;
		font-size: 16px;
		line-height: 1.0;
		padding: 0 25px;

		&.but-buy{
			font-size: 18px;
			height: 60px;
			padding: 0 40px;
		}
	}
}

@media (max-width: 1005px){
	.but{
		height: 50px;
		font-size: 15px;
		line-height: 1.0;
		padding: 0 25px;
		&.but-buy{
			font-size: 17px;
			height: 55px;
			padding: 0 30px;
		}
	}
}

@media (max-width: 640px){
	.but{
		height: 45px;
		font-size: 15px;
		line-height: 1.0;
		padding: 0 20px;
		&.but-buy{
			font-size: 17px;
			height: 52px;
			padding: 0 25px;
		}
	}
}

@media (max-width: 480px){
	.but{
		height: 42px;
		font-size: 14px;
		line-height: 1.0;
		padding: 0 16px;
		&.but-buy{
			font-size: 16px;
			height: 50px;
			padding: 0 22px;
		}
	}
}

/* @media (max-width: 1240px){
	.but{
		height: 40px;
		font-size: 14px;
		line-height: 17px;
		padding: 0 25px;
		&.but-svg{
			&.but-svg-right{
				padding-right: 15px;
				span{
					padding: 0 10px 0 0;
				}	
			}
			&.but-svg-left{
				span{
					padding: 0 0 0 10px;
				}	
			}
			svg{
				width: 15px;
				height: 9px;
			}
		}
	}
}

@media (max-width: 1000px){
	.but{
		height: 36px;
		font-size: 14px;
		line-height: 17px;
		padding: 0 20px;
	}
}

@media (max-width: 640px){
	.but{
		padding: 0 16px;
	}
} */