footer{
	
}
.footer{
	padding: 50px 0 0;
	margin: 0 0 40px;
	.footer__item{
		&.footer__item_services{
			width: calc(100% - 575px);
		}
		&.footer__item_menu{
			width: 300px;
			padding: 0 20px 0 0;
		}
		&.footer__item_contact{
			width: 275px;
		}
	}
}

.footer-bottom{
	padding: 25px 0 35px;
	border-top: 1px solid $colorDBDBDB;
}
.footer-heading{
	color: $color212121;
	font-size: 20px;
	font-family: $fontRegular;
	font-weight: 400;
	line-height: 110%;
	margin: 0 0 20px;
	a, span{
		color: $color212121;
		border-bottom: 2px solid $color212121;
	}
}

.menu-footer{
	@include flexbox();
	@include flex-wrap(wrap);
	margin: 0;
	padding: 0;
	list-style-type: none;
	li{
		width: 100%;
		line-height: 1.0;
		margin: 0 0 20px;
		a{
			position: relative;
			color: $color212121;
			font-size: 16px;
			font-family: $fontRegular;
			font-weight: 400;
			line-height: 110%;
			&.footer-hidden{
				display: none;
			}
			&:hover{
				color: $colorOrange;
			}
		}
		& > ul{
			display: none !important;
		}
	}
	&.footer-services-menu{
		// display: block;
	    // -moz-column-count: 2;
	    // -webkit-column-count: 2;
	    // column-count: 2;
		li{
			width: 50%;
		    // display: inline-block;
    		// min-width: 278px;
			// max-width: 305px;
			padding-right: 30px;
			a{
				color: $color757575;
				br{
					display: none;
				}
				&:hover{
					color: $colorOrange;
				}
			}
		}
	}
	&.footer-menu-2{
		li{
			a{
				font-size: 20px;
				border-bottom: 2px solid $color212121;
				&:hover{
					border-color: $colorOrange;
				}
			}
		}
	}
}

.footer-contact{
	color: $color757575;
	font-size: 16px;
	font-family: $fontRegular;
	font-weight: normal;
	line-height: 1.1;
	.footer-contact__phone{
		color: $color212121;
		font-family: $fontBold;
		font-weight: 700;
		margin: 0 0 7px;
		a{
			color: $color212121;
			white-space: nowrap;
		}
	}
	.footer-contact__email{
		margin: 0 0 7px;
		a{
			color: $color757575;
			border-bottom: 1px solid $color757575;
		}
	}
	.footer-contact__location{
		margin: 0 0 22px;
		strong{
			font-weight: normal;
		}
	}
	.footer-contact__soc{
		margin: 0 0 15px;
		.soc-box{
			@include flexbox();
			span{
				display: inline;
			}
		}
	}
}

@media (max-width: 1300px){
	.footer{
		padding: 45px 0 0;
		margin: 0 0 30px;
		.footer__item{
			&.footer__item_services{
				width: calc(100% - 435px);
			}
			&.footer__item_menu{
				width: 200px;
			}
			&.footer__item_contact{
				width: 235px;
			}
		}
	}

	.footer-bottom{
		padding: 20px 0 30px;
	}

	.footer-heading{
		font-size: 16px;
		line-height: 110%;
		margin: 0 0 15px;
		span{
			border-width: 1px;
		}
	}

	.menu-footer{
		li{
			margin: 0 0 16px;
			a{
				font-size: 14px;
				line-height: 110%;
			}
		}
		&.footer-services-menu{
			li{
	    		// min-width: 270px;
				// max-width: 270px;
				padding-right: 25px;
			}
		}
		&.footer-menu-2{
			li{
				a{
					font-size: 16px;
					border-width: 1px;
				}
			}
		}
	}

	.footer-contact{
		font-size: 14px;
		line-height: 1.1;
		.footer-contact__phone{
			margin: 0 0 7px;
		}
		.footer-contact__email{
			margin: 0 0 7px;
		}
		.footer-contact__location{
			margin: 0 0 18px;
		}
		.footer-contact__soc{
			margin: 0 0 12px;
		}
	}
}

@media (max-width: 1005px){
	.footer{
		padding: 45px 0 0;
		margin: 0 0 30px;
		.footer__item{
			&.footer__item_services{
				width: calc(100% - 435px);
			}
			&.footer__item_menu{
				width: 180px;
			}
			&.footer__item_contact{
				width: 220px;
			}
		}
	}
	.footer-heading{
		font-size: 15px;
		line-height: 110%;
		margin: 0 0 12px;
	}
	.menu-footer{
		li{
			margin: 0 0 12px;
			a{
				font-size: 14px;
				line-height: 110%;
			}
		}
		&.footer-services-menu{
			// -moz-column-count: 1;
			// -webkit-column-count: 1;
			// column-count: 1;
		    padding: 0 25px 0 0;
			li{
				width: 100%;
    		    // min-width: auto;
    			// max-width: none;
				padding-right: 0;
			}
		}
		&.footer-menu-2{
			li{
				a{
					font-size: 15px;
				}
			}
		}
	}
}

@media (max-width: 768px){
	.footer{
		.footer__item{
			&.footer__item_services{
				width: 100%;
				padding: 0 0 30px;
			}
			&.footer__item_menu{
				width: calc(100% - 220px);
			}
			&.footer__item_contact{
				width: 220px;
			}
		}
	}
}

@media (max-width: 480px){
	.footer{
		.footer__item{
			&.footer__item_services{
				width: 100%;
				padding: 0 0 20px;
			}
			&.footer__item_menu{
				width: 100%;
				padding: 0 0 20px;
			}
			&.footer__item_contact{
				width: 245px;
			}
		}
	}
}