.icon{
	display: inline-block;
	vertical-align: top;
	@include background-size(contain !important);
	&.icon-hours{
		width: 35px;
		height: 35px;
		background: url('../images/icon/icon-hours.svg') no-repeat;
	}
	&.icon-lock{
		width: 43px;
		height: 60px;
		background: url('../images/icon/icon-lock.svg') no-repeat;
	}
	&.icon-whatsapp,
	&.icon-viber,
	&.icon-telegram,
	&.icon-vk,
	&.icon-ok,
	&.icon-facebook,
	&.icon-instagram{
		width: 35px;
		height: 35px;
	}
	&.icon-whatsapp{
		background: url('../images/icon/icon-whatsapp.svg') center no-repeat;
	}
	&.icon-viber{
		background: url('../images/icon/icon-viber.svg') center no-repeat;
	}
	&.icon-telegram{
		background: url('../images/icon/icon-telegram.svg') center no-repeat;
	}
	&.icon-vk{
		background: url('../images/icon/icon-vk.svg') center no-repeat;
	}
	&.icon-ok{
		background: url('../images/icon/icon-ok.svg') center no-repeat;
	}
	&.icon-facebook{
		background: url('../images/icon/icon-facebook.svg') center no-repeat;
	}
	&.icon-instagram{
		background: url('../images/icon/icon-instagram.svg') center no-repeat;
	}
}

@media (max-width: 1600px){
	.icon{
		&.icon-lock{
			width: 38px;
			height: 54px;
		}
	}
	@media (min-width: 1001px){
		@media (max-height: 720px){
			.icon{
				&.icon-lock{
					width: 34px;
					height: 48px;
				}
			}
		}
		@media (max-height: 650px){
			.icon{
				&.icon-lock{
					width: 30px;
					height: 44px;
				}
			}
		}
	}
}

@media (max-width: 1300px){
	.icon{
		&.icon-lock{
			width: 34px;
			height: 48px;
		}
		&.icon-whatsapp,
		&.icon-viber,
		&.icon-telegram,
		&.icon-vk,
		&.icon-ok,
		&.icon-facebook,
		&.icon-instagram{
			width: 29px;
			height: 29px;
		}
	}
}

@media (max-width: 1005px){
	.icon{
		&.icon-lock{
		    width: 22px;
    		height: 30px;
		}
		&.icon-whatsapp,
		&.icon-viber,
		&.icon-telegram,
		&.icon-vk,
		&.icon-ok,
		&.icon-facebook,
		&.icon-instagram{
			width: 27px;
			height: 27px;
		}
	}
}

@media (max-width: 640px){
	.icon{
		&.icon-lock{
		    width: 19px;
		    height: 26px;
		}
		&.icon-whatsapp,
		&.icon-viber,
		&.icon-telegram,
		&.icon-vk,
		&.icon-ok,
		&.icon-facebook,
		&.icon-instagram{
			width: 26px;
			height: 26px;
		}
	}
}