.marka-form{
	/* &.marka-form-loading{
		position: relative;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #f5f5f5 url('../images/loading.gif') center no-repeat !important;
		}
	} */
}
.marka-filter-form{
    padding: 15px 25px;
	.jsMarkaSelect{
		margin-top: 10px; 
	}
	.select2-container{
		width: 100% !important;
	}
	.form-group{
		label{
			display: none;
		}
	}
	button{
		margin: 15px 0;
		&.but{
			padding: 0 30px;
			height: 50px;
		}
	}
}

@media (max-width: 640px){
	.marka-filter-form{
    	padding: 12px 20px;
    }
}