
.select2-container{
    height: 40px !important;
	.select2-arrow{
		border-color: transparent !important;
		b{
		    background-position: 0 6px !important;
		}
	}
	.select2-choice, .select2-chosen{
		display: -webkit-flex !important;
		 display: -webkit-box !important;
	     display: -ms-flexbox !important;
		    display: -moz-box !important;
		        display: flex !important;
		@include align-items(center);
    	height: 100% !important;
	}
	&.select2-dropdown-open{
		.select2-arrow{
			b{
			    background-position: -18px 6px !important;
			}
		}
	}
	&.select2-container-active{
		.select2-choice{
			border-color: #DBDBDB !important;
		    outline: none;
		    @include box-shadow(none);
		}
	}
}

.select2-drop{
	border-color: #DBDBDB !important;
	.select2-results{
	    padding: 0 4px !important;
    	margin: 6px 4px !important;
    	.select2-result {
    		&.select2-highlighted{
    			color: #EC4700 !important;
			    background: rgba(#EC4700, .1) !important;
    		}
    	}
		.select2-no-results, .select2-searching{
		    background-color: #fcf8e3 !important;
    		color: #c09853 !important;

    		color: #EC4700 !important;
		    background: rgba(#EC4700, .1) !important;
    		padding: 6px;
		}
		overflow: hidden;
		overflow-y: auto;
		scrollbar-color: ligthen(rgba(#212121, .1), 5) rgba(#212121, .2);
		scrollbar-width: thin;
		&::-webkit-scrollbar-track
		{
			-webkit-box-shadow: none;
			@include border-radius(0);
		    opacity: .1;
			background: rgba(#212121, .1);
		}
		&::-webkit-scrollbar
		{
			width: 6px;
			background-color: transparent;
		}
		&::-webkit-scrollbar-thumb
		{
			@include border-radius(0);
			-webkit-box-shadow: none;
			background-color: rgba(#212121, .2);
		}
	}
}
