@charset "UTF-8";

// Slick icon entity codes outputs the following
// "\2022" outputs ascii character "•"

$slick-font-path: "../stick/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "../stick/" !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */
.slick-list {
    .slick-loading & {
        background: #fff url("../images/ajax-loader.gif") center center no-repeat;
    }
}

/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    z-index: 10;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    cursor: pointer;
    top: 50%;
    padding: 0;
    outline: none;
    width: 60px;
    height: 60px;
    text-align: center;
    border: none;
    background: $colorWhite;
    @include box-shadow(0px 10px 30px rgba(166, 171, 189, 0.2));
    @include border-radius(50%);
    @include transform(translate(0, -50%));
    // @include transition(all .5s ease);
    svg{
        width: 25px;
        height: 100%;
        margin: 0 auto;
        path{
            stroke: $color212121;
        }
    }
    &:hover, &:focus {
        outline: none;
        opacity: 1;
        border-color: transparent;
        svg{
            path{
                stroke: $colorOrange;
            }
        }
    }
    &.slick-disabled {
        opacity: $slick-opacity-not-active;
        opacity: 1;
        pointer-events: none;
        svg{
            path{
                stroke: rgba($color212121, .5);
            }
        }   
    }
}
.slick-prev {
    left: -65px;
}
.slick-next {
    right: -65px;
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}
.slick-dots {
    position: absolute;
    bottom: -10px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        width: 37px;
        height: 2px;
        margin: 0 7px;
        padding: 0;
        cursor: pointer;
        button {
            display: block;
            width: 100%;
            height: 100%;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 0;
            cursor: pointer;
            border: 0;
            background: #BFBFBF;
            @include border-radius(0);
            &:hover, &:focus {
                outline: none;
            }
        }
        &.slick-active button {
            border: 0;
            background: #3D7347;
        }
    }
}

@media (max-width: 1300px){
    .slick-prev,
    .slick-next {
        width: 50px;
        height: 50px;
        svg{
            width: 18px;
        }
    }
    .slick-prev {
        left: -50px;
    }
    .slick-next {
        right: -50px;
    }
}

@media (max-width: 1005px){
   .slick-prev,
    .slick-next {
        width: 45px;
        height: 45px;
        svg{
            width: 15px;
        }
    }
    .slick-prev {
        left: -40px;
    }
    .slick-next {
        right: -40px;
    }
}

@media (max-width: 480px){
    .slick-prev,
    .slick-next {
        width: 42px;
        height: 42px;
        svg{
            width: 15px;
        }
    }
    .slick-prev {
        left: -35px;
    }
    .slick-next {
        right: -35px;
    }
}