body, div, a {
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		text-decoration: none; 
	}
}

a:focus {outline: 0;}

img {
	max-width: 100%;
}


html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	font-family: $fontRegular;
	font-style: normal;
	background: $colorWhite;
}
.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
}
.wrap1 {
  flex: 1 0 auto;
}
.wrap2 {
  flex: 0 0 auto;
}
