.preloader{
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(#fff, .75);
	opacity: 0;
	pointer-events: none;
	overflow: hidden;
    &.preloader-noop{
        background: rgba(#fff, 1);
    }
	&.active{
		opacity: 1;
		pointer-events: all;
	}
}
.preloader-noop{
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#fff, .75);
    background: rgba(#fff, 1);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    &.active{
        opacity: 1;
        pointer-events: all;
    }
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
}
.lds-spinner div {
    transform-origin: 40px 40px;
    @include animation(lds-spinner 1.2s linear infinite);
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #EC4700;
}
.lds-spinner div:nth-child(1) {
    @include transform(rotate(0deg));
    @include animation-delay(-1.1s);
}
.lds-spinner div:nth-child(2) {
    @include transform(rotate(30deg));
    @include animation-delay(-1s);
}
.lds-spinner div:nth-child(3) {
    @include transform(rotate(60deg));
    @include animation-delay(-0.9s);
}
.lds-spinner div:nth-child(4) {
    @include transform(rotate(90deg));
    @include animation-delay(-0.8s);
}
.lds-spinner div:nth-child(5) {
    @include transform(rotate(120deg));
    @include animation-delay(-0.7s);
}
.lds-spinner div:nth-child(6) {
    @include transform(rotate(150deg));
    @include animation-delay(-0.6s);
}
.lds-spinner div:nth-child(7) {
    @include transform(rotate(180deg));
    @include animation-delay(-0.5s);
}
.lds-spinner div:nth-child(8) {
    @include transform(rotate(210deg));
    @include animation-delay(-0.4s);
}
.lds-spinner div:nth-child(9) {
    @include transform(rotate(240deg));
    @include animation-delay(-0.3s);
}
.lds-spinner div:nth-child(10) {
    @include transform(rotate(270deg));
    @include animation-delay(-0.2s);
}
.lds-spinner div:nth-child(11) {
    @include transform(rotate(300deg));
    @include animation-delay(-0.1s);
}
.lds-spinner div:nth-child(12) {
    @include transform(rotate(330deg));
    @include animation-delay(0s);
}

@include keyframes(lds-spinner){
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}