#buyOneClickModal{
    .modal-dialog {
        width: 720px;
        margin: auto;
        padding: 30px 0;
    }
}

.buyOneClick-section{
    .buyOneClick-section__header{
        color: $color454545;
        font-size: 16px;
        font-family: $fontMedium;
        font-weight: 500;
        line-height: 1.5;
    }
    .buyOneClick-section__desc{
        color: $color757575;
        font-size: 14px;
        line-height: 1.0;
        font-family: $fontRegular;
        font-weight: normal;
        margin: 10px 0 20px;
    }
    .buyOneClick-section__product{
        padding: 0 0 40px;
    }
    .form-group{
        input, textarea{
            font-size: 14px;
            height: 45px;
        }
        textarea{
            min-height: 100px;
            max-height: 100px;
        }
    }
    .help-block{
        text-align: left;
    }
    code{
        font-size: 16px;
        word-break: break-word;
        white-space: normal;
        margin: 7px 0 20px;
        padding: 2px 6px;
        display: inline-block;
    }
    button[type="submit"]{
        height: 50px;
    }
}

.buyOneClick-section-but{
    margin: 0 0 20px;
    .but{
        width: 200px !important;
        width: auto !important;
        white-space: nowrap;
    }
    .terms_of_use{
        // width: calc(100% - 200px);
        padding: 0 0 0 30px;
    }
}

.cart-item {
    position: relative;
    padding: 7px 10px;
    border-top: 1px solid $colorDBDBDB;
    .cart-item__thumbnail{
        width: 90px;
        max-height: 70px;
        img{
            max-height: 100%;
        }
    }
    .cart-item__section{
        width: calc(100% - 90px);
        padding: 0 0 0 25px;
    }
    .cart-item__content{
        width: calc(100% - 220px);
    }
    .cart-item__price{
        width: 220px;
    }
    .cart-item__title{
        color: #212121;
        font-size: 16px;
        font-family: $fontMedium;
        font-weight: 500;
        a{
            color: #212121;
        }
    }
    .cart-item__action {
        display: inline-block;
        display: none;
        position: absolute;
        right: 15px;
        top: 50%;
        font-size: 14px;
        line-height: 1em;
        cursor: pointer;
        @include transform(translateY(-50%));
        &:hover {
            color: red;
        }
    }
}

.cart-price{
    font-size: 18px;
    font-family: $fontMedium;
    font-weight: 500;
    line-height: 20px;
    .strikethrough{
        &:before {
            border-width: 4px;
            height: 42%;
        }
    }
    .cart-price__res{
        color: #000000;
        font-size: 26px;
        line-height: 20px;
        svg{
            width: 19px;
            height: 23px;
            path{
                fill: #000000;
            }
        }
    }
    .cart-price__old{
        color: #757575;
        font-size: 18px;
        font-family: $fontRegular;
        font-weight: 400;
        line-height: 18px;
        padding: 0 0 10px;
        text-align: right;
        .price-old{
            text-decoration: line-through;
        }
        svg{
            width: 15px;
            height: 17px;
            path{
                fill: #757575;
            }
        }
    }
    &.cart-price-new{
        .cart-price__res{
            color: #ff002f;
            font-size: 26px;
        }
    }
}

@media (max-width: 768px){
    #buyOneClickModal{
        .modal-dialog {
            width: 600px;
        }
    }

    .cart-price{
        font-size: 15px;
        line-height: 18px;
        .cart-price__res{
            font-size: 20px;
            line-height: 20px;
            svg{
                width: 17px;
                height: 21px;
            }
        }
        .cart-price__old{
            font-size: 15px;
            line-height: 15px;
            padding: 0 0 10px;
            svg{
                width: 14px;
                height: 16px;
            }
        }
        &.cart-price-new{
            .cart-price__res{
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 640px){
    #buyOneClickModal{
        .modal-dialog {
            width: calc(100% - 20px);
        }
        .modal-body {
            padding: 10px 30px 40px;
        }
    }

    .buyOneClick-section-but{
        .but{
            width: 160px !important;
            width: auto !important;
            white-space: nowrap;
            padding: 0 26px;
            min-width: 225px;
        }
        .terms_of_use{
            // width: calc(100% - 160px);
            padding: 0 0 0 25px;
        }
    }

    .cart-item {
        padding: 7px 10px;
        .cart-item__thumbnail{
            width: 80px;
            max-height: 70px;
        }
        .cart-item__section{
            width: calc(100% - 80px);
            padding: 0 0 0 15px;
        }
        .cart-item__content{
            width: calc(100% - 140px);
        }
        .cart-item__price{
            width: 140px;
        }
        .cart-item__title{
            font-size: 15px;
        }
    }
}

@media (max-width: 480px){
    #buyOneClickModal{
        .modal-dialog {
            width: calc(100% - 10px);
        }
        .modal-header {
            padding: 40px 28px 0px;
        }
        .modal-body {
            padding: 10px 20px 40px;
        }
    }

    .buyOneClick-section-but{
        @include flex-wrap(wrap);
        .but{
            width: 160px !important;
            width: auto !important;
            white-space: nowrap;
            padding: 0 16px;
        }
        .terms_of_use{
            width: 100%;
            padding: 20px 0 0;
        }
    }

    .cart-item {
        padding: 7px 0;
        .cart-item__thumbnail{
            width: 70px;
            max-height: 60px;
        }
        .cart-item__section{
            width: calc(100% - 70px);
            padding: 0 0 0 7px;
        }
        .cart-item__content{
            width: calc(100% - 140px);
            width: auto;
        }
        .cart-item__price{
            width: auto;
            white-space: nowrap;
            padding: 0 0 0 10px;
        }
        .cart-item__title{
            font-size: 14px;
        }
    }

    .cart-price{
        font-size: 14px;
        line-height: 18px;
        .cart-price__res{
            font-size: 16px;
            line-height: 18px;
            svg{
                width: 15px;
                height: 19px;
            }
        }
        .cart-price__old{
            font-size: 14px;
            line-height: 14px;
            padding: 0 0 10px;
            svg{
                width: 14px;
                height: 16px;
            }
        }
        &.cart-price-new{
            .cart-price__res{
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 400px){
    .cart-item {
        .cart-item__thumbnail{
            width: 60px;
            max-height: 50px;
        }
        .cart-item__section{
            width: calc(100% - 60px);
            padding: 0 0 0 7px;
        }
    }
}