.cart-services{
	padding: 20px 0 0;
	border-top: 1px solid $colorDBDBDB;
	.cart-services__header{
		color: $color454545;
		font-size: 16px;
		font-family: $fontMedium;
		font-weight: 500;
		line-height: 1.5;
		margin: 10px 0;
	}
}

.cart-services-list{
	color: $color757575;
	font-size: 14px;
	line-height: 1.0;
	font-family: $fontRegular;
	font-weight: normal;
	.cart-services-list__item{
		position: relative;
		padding: 7px 10px 6px 28px;
		color: $color454545;
		line-height: 1.0;
		background: #f3f3f9;
		border: 1px solid $colorDBDBDB;
		font-weight: 400;
		margin: 5px 0;
		cursor: pointer;
		& > input{
		    position: absolute;
		    top: 7px;
		    left: 7px;
			margin: 0 5px 0 0;
		}
		&.active{
			color: #EC4700 !important;
		    background: rgba(#EC4700, .1) !important;
		}
	}
	.cart-services-list__cost{
		white-space: nowrap;
	}
}

@media (max-width: 768px){
	.cart-services-list{
		.cart-services-list__item{
			margin: 4px 0;
		}
	}
}