/*  */
.pay{
    color: #232323;
    .pay-details{
        .pay-details__items{
            padding: 8px 0 3px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            &:after{
                content: '';
                clear: both;
                display: block;
            }
        }
        .pay-details__left{
            float: left;
            width: 190px;
            label{
                font-weight: normal;
            }
        }
        .pay-details__right{
            float: right;
            width: calc(100% - 190px);
        }
    }
    .pay-box{
        .pay-box__header{
            font-size: 24px;
            padding: 35px 0px 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        .pay-box__items{
            display: table;
            width: 100%;
            margin: 10px 0 0;
            padding: 0 0 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            &.pay-box__items_services{
                .pay-box__name{
                    .img-thumbnail{
                        display: none;
                    }
                    .media-body{
                        padding: 0;
                    }
                }
            }
        }
        .pay-box__name{
            display: table-cell;
            vertical-align: middle;
            width: calc(100% - 385px);
            font-size: 20px;
            font-weight: 500;
            a{
                color: #EC4700;
            }
            .media{
                display: table;
                width: 100%;
                .img-thumbnail{
                    display: table-cell;
                    vertical-align: middle;
                    width: 100px;
                }
                .media-body{
                    display: table-cell;
                    vertical-align: middle;
                    padding: 0 0 0 20px;
                }
            }
        }
        .pay-box__price{
            display: table-cell;
            vertical-align: middle;
            width: 245px;
            text-align: center;
        }
        .pay-box__totalPrice{
            display: table-cell;
            vertical-align: middle;
            width: 125px;
            text-align: right;
        }
    }
    .pay-bottom{
        .pay-bottom__items{
            font-size: 24px;
            font-weight: 500;
            padding: 15px 0px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            &:after{
                content: '';
                clear: both;
                display: block;
            }
        }
        .pay-bottom__left{
            float: left;
            width: calc(100% - 200px);
        }
        .pay-bottom__right{
            float: right;
            width: 200px;
            text-align: right;          
        }
    }
    .pay-payments{
        .pay-payments__header{
            color: #232323;
            font-size: 24px;
            padding: 35px 0px 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        .payment-desc{
            color: #EC4700;
            padding: 0px 0px 30px;
        }
        .pay-payments__button{
            padding: 15px 0px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            button{
                border: none;
            }
        }
    }
}

.pay-box-serv-list{
    .pay-box-serv__items{
        @include flexbox();
        @include align-items(center);
        padding: 10px 0;
        margin: 0 0 10px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .pay-box-serv__name{
        width: calc(100% - 200px);
        padding: 0 20px 0 0;
        a{
            color: #454545;
        }
    }
    .pay-box-serv__totalPrice{
        width: 200px;
        text-align: right;
    }
}
#payment-methods{
    margin: 0;
    padding: 10px 0px;
    list-style: none;
    .payment-method{
        .description{
            font-family: Circe-Light;
            font-weight: normal;
            padding: 10px 0 10px 30px;
            p{
                margin: 0;
            }
            img{
                width: 300px;
                max-width: 100%;
            }
        }
    }
    .logo-payment-box{
        .logo-payment-box__item{
            width: 100px;
            height: 50px;
            line-height: 50px;
        }
    }
}

@media (max-width: 1000px){
    .pay{
        .pay-box{
            .pay-box__name{
                width: calc(100% - 200px);
                font-size: 18px;
            }
        }
        .pay-bottom{
            .pay-bottom__items{
                font-size: 22px;
                padding: 15px 0px;
            }
        }
    }
}

@media (max-width: 768px){
    .pay{
        .pay-box{
            .pay-box__header{
                font-size: 18px;
            }
            .pay-box__name{
                width: calc(100% - 200px);
                font-size: 16px;
            }
            .pay-box__price{
                width: 200px;
            }
            .pay-box__totalPrice{
                width: 100px;
            }
        }
        .pay-payments{
            .pay-payments__header{
                font-size: 18px;
            }
            .payment-desc{
                font-size: 14px;
            }
            .pay-payments__button{
                button{
                    font-size: 18px;
                }
            }
        }
    }
}
@media (max-width: 640px){
    .pay{
        .pay-details{
            .pay-details__left{
                width: 100%;
                float: none;
            }
            .pay-details__right{
                width: 100%;
                float: none;
            }
        }
        .pay-box{
            .pay-box__header{
                font-size: 16px;
            }
            .pay-box__name{
                width: calc(100% - 120px);
                font-size: 14px;
                .media {
                    .img-thumbnail{
                        width: 76px;
                        height: 76px;
                        img{
                            max-height: 100%;
                        }
                    }
                }
            }
            .pay-box__price{
                width: 200px;
            }
            .pay-box__totalPrice{
                width: 120px;
            }
            /* .pay-box__name{
                width: 100%;
                display: block;
            }
            .pay-box__price{
                width: 100%;
                display: block;
                text-align: right;
            }
            .pay-box__totalPrice{
                width: 100%;
                display: block;
                text-align: right;
            } */
        }
        .pay-bottom{
            .pay-bottom__items{
                font-size: 20px;
                padding: 15px 0px;
            }
            .pay-bottom__left{
                width: calc(100% - 130px);
            }
            .pay-bottom__right{
                width: 130px;
            }
        }
        .pay-payments{
            .pay-payments__header{
                font-size: 16px;
            }
            .pay-payments__button{
                button{
                    font-size: 16px;
                }
            }
        }
    }

    .pay-box-serv-list{
        .pay-box-serv__name{
            width: calc(100% - 120px);
            padding: 0 20px 0 0;
        }
        .pay-box-serv__totalPrice{
            width: 120px;
        }
    }

    #payment-methods{
        .payment-method{
            .checkbox{
                font-size: 14px;
            }
            .description{
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 480px){
    .pay{
        .pay-box{
            .pay-box__name{
                width: calc(100% - 100px);
                font-size: 14px;
                .media {
                    .img-thumbnail{
                        width: 70px;
                        height: 70px;
                    }
                    .media-body{
                        padding: 0 0 0 10px;
                    }
                }
            }
            .pay-box__totalPrice{
                width: 100px;
            }
        }
    }

    .pay-box-serv-list{
        .pay-box-serv__name{
            width: calc(100% - 100px);
            padding: 0 10px 0 0;
        }
        .pay-box-serv__totalPrice{
            width: 100px;
        }
    }

}