.product-view{
	padding: 30px 0;
	.product-view__info{
		order: 2;
		width: calc(100% - 700px);
		h1{
			font-size: 32px;
			font-weight: normal;
			line-height: 37px;
			padding: 0 0 12px;
		}
	}
	.product-view__img{
		order: 1;
		position: relative;
		width: 645px;
		height: 455px;
		&.product-view__img_2{
			.image-preview{
				width: calc(100% - 120px);
			}
		}
	}
	.product-view__price{
		padding: 10px 0 15px;
		.product-view__header{
			padding: 0 0 10px;
			.product-view-header{
				display: inline-block;
				width: 158px;
				padding: 0 20px 0 0;
			}
		}
		.product-price{
			.product-price__res{
				font-size: 30px;
				line-height: 20px;
				svg{
					width: 19px;
    				height: 23px;
				}
			}
			.product-price__old{
				font-size: 24px;
				line-height: 20px;
				padding: 0 0 0 30px;
				svg{
				    width: 15px;
				    height: 17px;
				}
			}
			.strikethrough{
				&:before {
					border-width: 4px;
				    height: 42%;
				}
			}
		}
		&.product-view__price-total{
			padding: 0 0 40px;
			.product-price{
				.product-price__res{
					font-size: 34px;
					line-height: 20px;
					svg{
						width: 19px;
	    				height: 23px;
					}
				}
				.product-price__old{
					font-size: 26px;
					line-height: 20px;
					padding: 0 0 0 30px;
					svg{
					    width: 15px;
					    height: 17px;
					}
				}
				.strikethrough{
					&:before {
						border-width: 4px;
					    height: 42%;
					}
				}
			}
		}
	}
	.product-view__attr{
		padding: 0 0 22px;
	}
	.product-view__button{
		padding: 0 0 25px;
		.but{
			padding: 0 30px;
			height: 50px;
		}
		.product-button{
		}
	}
	.product-view__code{
		padding: 0 0 25px;
		code{
			white-space: normal;
		}
	}
}

.product-view-header{
	color: #212121;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
}

.product-attr{
	.product-attr__services{
		.product-services{
			font-size: 18px;
			font-family: $fontRegular;
			font-weight: normal;
			line-height: 1.5;
		    padding: 10px 0;
			.product-services__header{
			}
			ul{
				margin: 0;
			    padding: 0 0 0 18px;
				li{
					color: $color454545;
					font-size: 16px;
					line-height: 1.1;
					padding: 3px 0;
				}
			}
			.cart-services-list{
				font-size: 16px;
				line-height: 1.0;
				.cart-services-list__item{
					padding: 1px 0 0px 25px;
					color: $color454545;
					background: transparent;
					border: none;
					margin: 4px 0;
					& > input{
					    top: 2px;
					    left: 4px;
						margin: 0;
					}
				}
			}
		}
	}
}

.product-button{
	.product-button__item{
		margin: 0 10px 10px 0;
		&.product-box-but{
			.but{
				padding: 0 25px;
				&.but-svg{
					&.but-svg-left {
						span {
						    padding: 0 0 0 15px;
						}
					}
				}
			}
		}
	}
}

.text-inf{
	color: #454545;
	font-size: 14px;
	font-weight: normal;
	line-height: 16px;
	background: #EEF2FB;
	padding: 22px 20px 22px 30px;
}

.product-view-section{
	padding: 22px 0 40px;
	border-top: 1px solid #D9DDE8;
	.product-view-section__item{
		&.product-view-section__item_attributes{
			width: calc(100% - 532px);
			padding: 0 50px 0 0;
		}
		&.product-view-section__item_description{
			width: 532px;
		}
	}
	h2{
		color: #212121;
		font-size: 24px;
		font-weight: normal;
		line-height: 28px;
		margin: 0;
		padding: 0 0 12px;
	}
	.product-view-section__link{
		svg{
			top: 2px;
		}
		&.active{
			svg{
				top: 1px;
				@include transform(rotate(180deg) !important);
			}
		}	
	}
	&.product-view-section-2{
		.product-view-section__item{
			width: 100% !important;
		}
	}
}

/* Изображения */
.image-preview{
	order: 2;
	width: 100%;
	height: 100%;
	.slick-track, .slick-list, .slick-slide, .image-preview__img{
		height: 100%;
	}
	.image-preview__img{
		text-align: center;
		a{
			width: 100%;
			height: 100%;
			img{
				margin: 0 auto;
				max-height: 100%;
			}
		}
	}
	.slick-prev,
	.slick-next {
	    width: 25px;
	    height: 50px;
	    svg{
	        display: none;
	    }
	}
	.slick-prev {
	    left: 0;
	}
	.slick-next {
	    right: 0;
	}
}
/* Миниатюры изображений */
.image-thumbnail{
	order: 1;
	width: 83px;
	height: 100%;
	.slick-track{
		margin: 0;
	}
	.slick-slide{
		margin: 5px 0;
		&.slick-current{
			.image-thumbnail__item{
				border-color: #EC4700;
			}
		}
	}
	.image-thumbnail__item{
		width: 100%;
		height: 81px;
		padding: 4px;
		border: 2px solid transparent;
	}
	.image-thumbnail__img{
		width: 100%;
		height: 100%;
		text-align: center;
		picture{
			width: 100%;
		}
		img, source{
			max-width: 100%;
			max-height: 100%;
			margin: 0 auto;
		}
	}
}

@media (max-width: 1600px){
	.product-view{
		.product-view__info{
			width: calc(100% - 620px);
			h1{
				font-size: 30px;
				line-height: 36px;
			}
		}
		.product-view__img{
			width: 570px;
		}
	}
}

@media (max-width: 1240px){
	.product-view{
		.product-view__info{
			width: calc(100% - 490px);
			h1{
				font-size: 26px;
				line-height: 32px;
			}
		}
		.product-view__img{
			@include flex-wrap(wrap);
			width: 450px;
			height: auto;
			&.product-view__img_2{
				.image-preview{
					width: 100%;
				}
			}
		}
		.product-view__price{
			.product-view__header{
				padding: 0 0 10px;
				.product-view-header{
					display: inline-block;
					width: 158px;
					padding: 0 20px 0 0;
				}
			}
			.product-price{
				font-size: 26px;
				line-height: 20px;
				.product-price__res{
					svg{
					    width: 17px;
    					height: 21px;
					}
				}
				.product-price__old{
					font-size: 20px;
					line-height: 20px;
					padding: 0 0 0 30px;
					svg{
					    width: 14px;
					    height: 17px;
					}
				}
			}
			&.product-view__price-total{
				.product-view__price{
					.product-price{
						font-size: 30px;
						line-height: 20px;
						.product-price__res{
							svg{
							    width: 17px;
		    					height: 21px;
							}
						}
						.product-price__old{
							font-size: 24px;
							line-height: 20px;
							padding: 0 0 0 30px;
							svg{
							    width: 14px;
							    height: 17px;
							}
						}
					}	
				}
			}
		}
	}
	/* Изображения */
	.image-preview{
		order: 1;
		height: 305px;
	}
	/* Миниатюры изображений */
	.image-thumbnail{
		order: 2;
		width: 100%;
		height: auto;
		.image-thumbnail__item{
			height: 78px;
		}
		.image-thumbnail__img{
			picture{
				height: 100%;
			}
		}
	}
}

@media (max-width: 1000px){
	.product-view{
		padding: 0 0 30px;
		.product-view__info{
			order: 2;
			width: 100%;
			padding: 20px 0 0;
			h1{
				font-size: 24px;
				line-height: 30px;
			}
		}
		.product-view__img{
			order: 1;
			width: 100%;
			padding: 15px 0 0;
		}
	}

	.text-inf{
		padding: 22px 20px 22px 20px;
	}

	.product-view-section{
		padding: 20px 0 40px;
		border: none;
		.product-view-section__item{
			&.product-view-section__item_attributes{
				width: 100%;
				padding: 0 0 20px;
			}
			&.product-view-section__item_description{
				width: 100%;
			}
		}
		h2{
			font-size: 22px;
			line-height: 26px;
			margin: 0;
			padding: 0 0 12px;
		}
	}
}

@media (max-width: 640px){
	.product-view{
		.product-view__info{
			h1{
				font-size: 22px;
				line-height: 28px;
			}
		}
		.product-view__price{
			padding: 10px 0 15px;
			.product-price{
				font-size: 22px;
				line-height: 20px;
				.product-price__res{
					svg{
				        width: 14px;
    					height: 19px;
					}
				}
				.product-price__old{
					font-size: 18px;
					line-height: 20px;
					padding: 0 0 0 30px;
					text-align: left;
					svg{
					    width: 12px;
    					height: 15px;
					}
				}
			}
			&.product-view__price-total{
				padding: 0 0 30px;
				.product-price{
					font-size: 26px;
					line-height: 20px;
					.product-price__res{
						svg{
					        width: 14px;
	    					height: 19px;
						}
					}
					.product-price__old{
						font-size: 20px;
						line-height: 20px;
						padding: 0 0 0 30px;
						text-align: left;
						svg{
						    width: 12px;
	    					height: 15px;
						}
					}
				}
			}
		}
	}
	/* Изображения */
	.image-preview{
	// 	height: auto;
	// 	.slick-track, .slick-list, .slick-slide, .image-preview__img{
	// 		height: auto;
	// 	}
		.image-preview__img{
	// 		height: auto;
			a{
	// 			display: block;
	// 			height: auto;
				img{
				    max-height: 90%;
				}
			}
		}
	}
	/* Миниатюры изображений */
	.image-thumbnail{
		.image-thumbnail__item{
			height: 60px;
			padding: 3px;
		}
	}

	.text-inf{
		line-height: 24px;
	}
	
	.product-view-section{
		padding: 0 0 30px;
		.product-view-section__item{
			&.product-view-section__item_attributes{
				padding: 0;
			}
		}
		h2{
			font-size: 20px;
			line-height: 24px;
			margin: 0;
			padding: 0 0 10px;
		}
		.txt-style{
			font-size: 14px;
			line-height: 24px;
		}
	}
}

@media (max-width: 480px){
	.product-view{
		.product-view__price{
			.product-price{
				.product-price__discountPercent{
					position: absolute;
					top: 2px;
				    right: 0;
				    padding: 0;
				    width: auto;
				}
				.product-price__res{
					order: 2;
				}
				.product-price__old{
					order: 1;
					display: block;
					width: 100%;
					padding: 0 0 15px;
				}
			}
			&.product-view__price-total{
				.product-price{
					.product-price__old{
						padding: 0 0 15px;
					}
				}
			}
		}
	}
	.image-preview{
		height: auto;
		margin: 0 0 20px !important;
		.slick-track, .slick-list, .slick-slide, .image-preview__img{
			height: auto;
		}
		.image-preview__img{
			height: auto;
			a{
				display: block;
				height: auto;
				img{
				    max-height: none;
				}
			}
		}
	}
	.product-button{
		.product-button__item{
			&.product-box-but{
				.but{
					padding: 0 15px;
					&.but-svg{
						&.but-svg-left {
							span {
							    padding: 0 0 0 10px;
							}
						}
					}
				}
			}
			&.product-but-question{
				margin-left: 10px;
			}
		}
	}
}

@media (max-width: 400px){
	.product-view{
		.product-button{
			height: auto;
			.but{
				height: 36px;
			}
		}
	}
}