.product-box-listView{
	padding: 20px 0 0;
}
.product-box{
	margin: 0 0 0 1px;
	.product-box__item{
		position: relative;
		z-index: 1;
		width: calc(100% / 4);
		padding: 20px;
		margin: 0 -1px -1px 0;
		background: #FFFFFF;
		border: 1px solid #D9DDE8;
		// @include transition(all .2s);
		&:after{
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			background: #FFFFFF;
			@include box-shadow(0px 10px 20px rgba(48, 59, 81, 0.2));
			@include transition(all .2s);
		}
		&:hover, &:focus, &:active, &.active{
			z-index: 2;
			border-color: #D9DDE8;
			&:after{
				opacity: 1;
				pointer-events: all;
			}
			.product-name{
				color: $colorOrange;
			}
		}
	}
	.product-box__img{
		position: relative;
		width: 100%;
		text-align: center;
		a, picture{
			width: 100%;
			height: 100%;
		}
		source, img{
			display: block;
			max-width: 100%;
			max-height: 100%;
			max-height: 200px;
		    margin: 0 auto;
		}
	}
	.product-box__info{
		position: relative;
		height: calc(100% - 200px);
		line-height: 1.0;
		padding: 8px 0 0;
	}
	.product-box__name{
		overflow: hidden;
		// max-height: 102px;
		padding: 10px 0;
	}
	.product-box__price-base{
		margin: 5px 0;
	}
	.product-box__stock{
		padding: 5px 0;
	}
	.product-box__bottom{
		padding: 10px 0 0;
	}
	.product-box__price-header {
		color: $color757575;
		font-size: 13px;
	    font-family: $fontMedium;
	    font-weight: 500;
	    line-height: 1.5;
		margin: 0 0 5px;
	}
	.product-box__but{
		width: 107px;

	}
}

.product-name{	
	width: 100%;
	// height: 68px;
	overflow: hidden;
	color: #212121;
	font-size: 16px;
	font-family: $fontMedium;
	line-height: 22px;
	font-style: normal;
	font-weight: 500;
	&:hover{
		color: $colorOrange;
	}
}

.icon-ruble{
	display: inline-block;
	width: 12px;
	height: 15px;
	background: url('../images/icon/icon-ruble-black.svg') no-repeat;
	@include background-size(contain !important);
}

.product-stock{
	.product-stock__icon{
		display: inline-block;
		width: 14px;
    	height: 12px;
		@include background-size(contain !important);

		&.product-stock__icon-inStock{
			background: url('../images/icon/icon-in-stock.svg') no-repeat;
		}
		&.product-stock__icon-noStock{
			background: url('../images/icon/icon-no-stock.svg') no-repeat;
		}
	}
	.product-stock__name{
		color: $color757575;
		font-size: 13px;
		font-family: $fontRegular;
		font-weight: normal;
		line-height: 1.5;
	}
}

.product-services{
	color: $color757575;
	font-size: 13px;
	font-family: $fontRegular;
	font-weight: normal;
	line-height: 1.5;
    padding: 10px 0;
	.product-services__header{
		margin: 0 0 7px;
	}
	ul{
		margin: 0;
	    padding: 0 0 0 18px;
		li{
			color: $color454545;
			font-size: 12px;
			line-height: 1.1;
			padding: 3px 0;
		}
	}
	.cart-services-list{
		font-size: 12px;
		line-height: 1.0;
		.cart-services-list__item{
			padding: 1px 0 0px 20px;
			color: $color454545;
			background: transparent;
			border: none;
			margin: 3px 0;
			& > input{
			    top: 0px;
			    left: 2px;
				margin: 0;
			}
		}
	}
}

.product-price{
	font-size: 18px;
	font-family: $fontMedium;
	font-weight: 500;
	line-height: 20px;
	.product-price__benefit{
		width: 100%;
		min-height: 28px;
		color: #CF2034;
		font-size: 13px;
		font-weight: normal;
		line-height: 15px;
		padding: 0 0 10px;
	}
	.product-price__res{
		color: #000000;
		svg{
			width: 12px;
			height: 15px;
			path{
				fill: #000000;
			}
		}
	}
	.product-price__old{
		color: #757575;
		font-size: 16px;
		font-family: $fontRegular;
		font-weight: 400;
		line-height: 20px;
		text-align: right;
		padding: 0 0 0 10px;
		.price-old{
			text-decoration: line-through;
		}
		svg{
			width: 9px;
			height: 10px;
			path{
				fill: #757575;
			}
		}
		.icon-ruble{
			width: 9px;
			height: 10px;
			background: url('../images/icon/icon-ruble-gray.svg') no-repeat;
		}
	}
	&.product-price-new{
		.product-price__res{
			color: #ff002f;
			font-size: 20px;
		}
	}
}

.product-button{
	width: 100%;
	padding: 20px 0 5px;
	.but{
		height: 40px;
		@include border-radius(6px);
	}
	code{
		font-size: 11px;
	    word-break: break-word;
	    white-space: normal;
	    margin: 7px 0 0;
	    padding: 2px 6px;
	    display: inline-block;
	}
}


@media (max-width: 1300px){
	.product-box{
		.product-box__item{
			width: calc(100% / 3);
		}
	}
}

@media (max-width: 1005px){
	.product-box{
		.product-box__item{
			width: calc(100% / 3);
			padding: 10px;
		}
		.product-box__img{
			source, img{
				max-height: 150px;
			    margin: 0 auto;
			}
		}
		.product-box__info{
			height: calc(100% - 150px);
		}
	}
}

@media (max-width: 768px){
	.product-box{
		.product-box__item{
			width: calc(100% / 2);
			padding: 10px;
		}
	}
}

@media (max-width: 540px){
	.product-box{
		.product-box__item{
			width: calc(100% / 1);
			padding: 10px;
			margin: 0 0 30px;
		}
		.product-box__img{
			source, img{
				max-height: 200px;
			}
		}
		.product-box__info{
			height: calc(100% - 200px);
		}
	}
}