.breadcrumb{
	background: transparent;
	margin: 0px;
	padding: 30px 0px 0px; 
	li{
		position: relative;
		display: inline;
		color: #8B8B8B;
		font-size: 14px;
		line-height: 22px;
		font-weight: normal;
		a{
			color: #8B8B8B;
			border-bottom: 1px solid #8B8B8B;
		}
		&.active{
			color: #8B8B8B;
			a{
				color: #8B8B8B;
			}
		}
	}
	&>li{
		&+li{
			&:before{
				color: #8B8B8B;
				padding: 0px 6px 0px 10px;
			}
		}
	}
}

@media (max-width: 1000px){
	.breadcrumb{
		&>li{
			&+li{
				&:before{
					padding: 0px 6px 0px 8px;
				}
			}
		}
	}
}
@media (max-width: 640px){
	.breadcrumb{
		li{
			line-height: 18px;
		}
		&>li{
			&+li{
				&:before{
					padding: 0px 4px 0px 6px;
				}
			}
		}
	}
}