.contact-box{
	padding: 15px 0 0;
	.contact-box__info{
		float: left;
		width: 430px;
		h1{
			padding: 0 0 40px;
		}
		p{
			margin: 0 0 25px;
			br{
				display: none;
			}
		}
		a{
			color: $color212121;
		}
	}
	.contact-box__map{
		float: right;
		width: calc(100% - 520px);
		iframe{
			width: 100% !important;
			height: 370px !important;
		}
	}
	&:after{
		content: '';
		clear: both;
		display: block;
	}
}

.page-contact-box{
	color: $color212121;
	font-size: 18px;
	font-family: $fontRegular;
	font-weight: normal;
	line-height: 1.2;
	.page-contact-box__item{
		margin: 0 0 25px;
	}
	.page-contact-box__header{
		color: $color212121;
		color: $color757575;
		padding: 0 5px 3px 0;
	}
	.page-contact-box__phone{
		color: $color212121;
		a{
			color: $color212121;
			font-family: $fontBold;
			font-weight: 700;
			white-space: nowrap;
		}
	}
	.page-contact-box__email{
		a{
			color: $color212121;
			border-bottom: 1px solid $color212121;
		}
	}
	.page-contact-box__location{
		strong{
			font-weight: normal;
		}
	}
	.page-contact-box__soc{
		.soc-box{
			@include flexbox();
			span{
				display: inline;
			}
		}
	}
}

@media (max-width: 1300px){
	.contact-box{
		.contact-box__info{
			width: 370px;
		}
		.contact-box__map{
			float: right;
			width: calc(100% - 420px);
		}
	}
	.page-contact-box{
		font-size: 16px;
	}
}

@media (max-width: 1000px){
	.contact-box{
		.contact-box__info{
			float: none;
			width: 100%;
			padding: 0 0 40px;
		}
		.contact-box__map{
			float: none;
			width: 100%;
			iframe{
				height: 400px !important;
			}
		}
	}

	.page-contact-box{
		font-size: 14px;
		.page-contact-box__item{
			margin: 0 0 20px;
		}
	}
}