.gallery-box{
	text-align: center;
	.gallery-box__item{
		display: inline-block;
		vertical-align: top;
		width: 200px;
		height: 275px;
		margin: 0px 14px 30px;
		border: 2px solid #cccccc;
		&:hover{
			border: 2px solid #18458f;
		}
	}
}