.page-content{
    padding: 0 0 90px;
    color: $color212121;
    font-size: 18px;
    font-family: $fontRegular;
    font-weight: normal;
    line-height: 1.5;
    
    &.page-content-carbrands, 
    &.page-content-reviews, 
    &.page-content-carbrands, 
    &.page-content-services{
        padding: 0 0 40px;
    }
    h1{
        // font-size: 36px;
        // line-height: 100%;
        padding-top: 20px;
        &:before{
            content: '';
            clear: both;
            display: table;
        }
    }
    h2{
        font-size: 30px;
        line-height: 100%;
        padding-top: 20px;
        &:before{
            content: '';
            clear: both;
            display: table;
        }
    }
    h3{
        padding: 20px 0;
        &:before{
            content: '';
            clear: both;
            display: table;
        }
    }

    table{
    	width: 100%;
    	tr{
    		td{
				color: $color212121;
				font-size: 20px;
				font-family: $fontRegular;
				line-height: 24px;
				border-bottom: 1px solid $colorDFE0EB;
    			padding: 12px 16px;
    		}
    		&:nth-child(even){
    			td{
    				background: #f5f7f9;	
    			}
    		}
    	}
        &.price{
            tr{
                td{
                    &:last-child{
                        width: 200px;
                        text-align: right;
                    }
                }
            }
        }
    }
    p{
        margin: 0 0 20px;
    }
    img{
        &.pull-left{
            margin: 0 50px 20px 0;
        }
        &.pull-right{
            margin: 0 0 20px 50px;
        }
    }
    ul{
        &.pull-left{
            margin: 0 50px 20px 0;   
        }
        &.pull-right{
            margin: 0 0 20px 50px;
        }
        &.ul-style{
            list-style: none;
            padding: 0;
            li{
                position: relative;
                padding: 5px 0 10px 30px;
                font-weight: bold;
                &:before{
                    content: '✔';
                    position: absolute; 
                    top: 3px; 
                    left: 5px;
                    color: $colorOrange;
                    font-size: 115%;
                }
            }
        }
    }
}

.page-header-main{
    position: relative;
    width: 100%;
    min-height: 360px;
    padding: 50px 0;
    margin: 0 0 30px;
    @include background-size(cover !important);
    .content{
        position: relative;
        z-index: 2;
    }
    .breadcrumb{
        padding: 0;
        li{
            color: rgba($colorWhite, .7);
            a{
                color: rgba($colorWhite, .7);
                border-bottom-color: rgba($colorWhite, .7);
            }
            &.active{
                color: rgba($colorWhite, 1);
                a{
                    color: rgba($colorWhite, 1);
                }
            }
        }
        &>li{
            &+li{
                &:before{
                    color: rgba($colorWhite, .7);
                }
            }
        }
    }
    h1{
        color: $colorWhite;
        padding: 40px 0 0;   
    }
    &:before,
    &:after{
        content: '';
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
    }
    &:before{
        z-index: 1;
        width: 100%;
        height: 212px;
        @include background-gradient('top', rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), 0%, 100%);
        opacity: 0.6;
    }
    &:after{
        z-index: 0;
        width: 100%;
        height: 100%;
        // background: rgba($color212121, .5);
        opacity: .7;
        @include background-gradient('left', $colorBlue, $color894555, 0%, 100%);
    }
}

@media (max-width: 1300px){
    .page-content{
        padding: 0 0 70px;
        font-size: 16px;
        line-height: 1.4;
        
        &.page-content-carbrands, &.page-content-reviews{
            padding: 0 0 40px;
        }
        h1{
            // font-size: 30px;
            // line-height: 100%;
        }
        h2{
            font-size: 28px;
            line-height: 100%;
        }

        table{
            tr{
                td{
                    font-size: 18px;
                    line-height: 22px;
                    padding: 12px 16px;
                }
            }
        }
    } 
    .page-header-main{
        min-height: 260px;
    }
}

@media (max-width: 1000px){
    .page-content{
        padding: 0 0 60px;
        font-size: 14px;
        line-height: 1.4;
        &.page-content-carbrands, &.page-content-reviews{
            padding: 0 0 30px;
        }
        h1{
            font-size: 28px;
            line-height: 100%;
        }
        h2{
            font-size: 26px;
            line-height: 100%;
        }

        table{
            tr{
                td{
                    font-size: 16px;
                    line-height: 20px;
                    padding: 12px 16px;
                }
            }
        }
        img{
            &.pull-left, &.pull-right{
                display: block;
                width: auto !important;
                height: auto !important;
                float: none !important;
                margin: 0 0 20px;
            }
        }
        ul{
            &.pull-left, &.pull-right{
                display: block;
                width: auto !important;
                height: auto !important;
                float: none !important;
                margin: 0 0 20px;
            }
        }
    }   
    .page-header-main{
        min-height: 200px;
    }
}

@media (max-width: 768px){
    .page-content{
        h1{
            // font-size: 26px;
            // line-height: 100%;
        }
        h2{
            font-size: 24px;
            line-height: 100%;
        }

        table{
            tr{
                td{
                    font-size: 14px;
                    line-height: 20px;
                    padding: 10px 14px;
                }
            }
        }
    }   
    .page-header-main{
        min-height: 150px;
        padding: 30px 0;
        margin: 0 0 20px;
        h1{
            padding: 20px 0 0;   
        }
    }
}

@media (max-width: 640px){
    .page-content{
        h1{
            // font-size: 24px;
            // line-height: 100%;
        }
        h2{
            font-size: 22px;
            line-height: 100%;
        }
        table{
            &.price{
                tr{
                    td{
                        &:last-child{
                            width: 125px;
                        }
                    }
                }
            }
        }
    }
}
// @import "_advantages";
// @import "./page/_gallery-box";
// @import "./page/_review";
@import "_contact-page";
@import "_sorter";
@import "_breadcrumb";
@import "_pagination";
