.pagination-box{
    text-align: center;
    padding: 20px 0 0;
	.pagination{
		display: inline-block;
		vertical-align: top;
		margin: 0;
		padding: 0;
		li{
			margin: 0 -1px;
			a{
				@include flexbox();
				@include align-items(center);
				@include justify-content(center);
				width: 50px;
				height: 50px;
				text-align: center;
				line-height: 35px;
				padding: 0;
				background: transparent;
				border-color: $colorDFE0EB;
				color: $color212121;
				font-size: 16px;
				font-weight: normal;
				line-height: 1.0;
				@include border-radius(0 !important) ;
				&:hover, &:focus{
					background: transparent;
					color: $colorOrange;
				}
			}
			&.active{
				a, span{
				    @extend .bck-stl;
					border-color: none;
					color: $colorWhite;
				}
			}
			&.disabled{
				a{
					color: rgba($colorDFE0EB, 0.5);
				}
			}
		}
	} 		
}

@media (max-width: 1600px){
	.pagination-box{
		.pagination{
			padding: 0 0 40px;
			li{
				a{
					width: 46px;
					height: 46px;
					font-size: 16px;
					line-height: 1.0;
				}
			}
		} 		
	}
}

@media (max-width: 1200px){
	.pagination-box{
		.pagination{
			padding: 15px 0 30px;
			li{
				a{
					width: 40px;
					height: 40px;
					font-size: 14px;
					line-height: 1.0;
				}
			}
		} 		
	}
}

@media (max-width: 640px){
	/* Pagination */
	.pagination-box{
		.pagination{
			li{
				a{
					width: 36px;
					height: 36px;
				}
			}
		}
	} 		
}

@media (max-width: 480px){
	/* Pagination */
	.pagination-box{
		.pagination{
			li{
				a{
					width: 32px;
					height: 32px;
				}
			}
		}
	} 		
}