#review-form{
	width: 540px;
	margin: 0 auto;
	.file-upload {
		position: relative;
		width: 170px; 
		height: 30px;
		text-align: center;
		input[type="file"]{
		    display: none; 
		}
		label {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}
		span {
			color: #fff;
			font-size: 16px;
			font-family: DIN2014-Light;
			font-weight: normal;
			.fa-paperclip{
				color: #fff;
				padding: 5px;
				border: none;
			    @include transform(rotate(90deg));
		        height: 30px;
			    background: transparent;
			    font-size: 1.3em;
			    position: relative;
			    width: 30px;
			}
			#count_file{
				display: inline-block;
				border-bottom: 1px solid #b3b3b3;
			}
		}
	}
}

.review-box{
	margin: 30px 0px 0px;
	.review-box__img{
		display: table-cell;
		padding-right: 30px;
		width: 150px;
		height: 150px;
		img{
			max-width: 100%;
			border: 3px solid #1a3869;
			@include border-radius(50%);
		}
	}
	.review-box__info{
		display: table-cell;
		vertical-align: top;
		.review-box__name{
			color: #191919;
			font-size: 20px;
			font-family: DIN2014-DemiBold;
			span{
				display: block;
				color: #ccc;
				font-size: 13px;
				margin: 2px 0px 5px;
			}
		}
		.review-box__text{
			color: #191919;
			font-size: 16px;
			font-family: DIN2014-Light;
		}
	}
	hr{
	    margin: 20px 0px 40px;
		border-top: 1px solid #e3e3e3;
	}
}