.sorter{
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);
	color: $color454545;
	font-size: 16px;
	font-weight: normal;
	line-height: 19px;
	padding: 0;
	ul{
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
		margin: 0;
		padding: 0 0 0 20px;
		list-style-type: none;
		li{
			margin: 0 25px 0 0;
			a{
				position: relative;
				color: $color212121;
				font-size: 16px;
				font-weight: normal;
				line-height: 19px;
				padding: 0 15px 0 0;
				&.asc, &.desc{
					color: $colorOrange;
				}
				&:after{
				    content: "\f0d7";
				    position: absolute;
				    right: 0;
				    top: 10px;
				    display: inline-block;
				    font: normal normal normal 14px/1 FontAwesome;
				    font-size: inherit;
				    text-rendering: auto;
				    -webkit-font-smoothing: antialiased;
				    -moz-osx-font-smoothing: grayscale;
				    @include transform(translateY(-50%));
				}
				&.desc{
					&:after{
						content: "\f0d8";
						top: 9px;
					}
				}
			}
		}
	}
}

@media (max-width: 1000px){
	.sorter{
		font-size: 14px;
		line-height: 18px;
		ul{
			padding: 0 0 0 15px;
			li{
				margin: 0 20px 0 0;
				a{
					font-size: 14px;
					line-height: 18px;
					padding: 0 15px 0 0;
				}
			}
		}
	}
}

@media (max-width: 480px){
	.sorter{
		@include flex-direction(column);
		@include align-items(flex-start);
		font-size: 14px;
		line-height: 18px;
		ul{
			padding: 10px 0;
			li{
				margin: 0 10px 0 0;
				a{
					font-size: 14px;
					line-height: 18px;
					padding: 0 13px 0 0;
					&:after{
						top: 9px;
					}
					&.desc{
						&:after{
							top: 8px;
						}
					}
				}
			}
		}
	}
}